Solution/Unpacked/pfc_PFCDataModel/Workflows/ChangeFolderNameWhenEntityNameChanges-E11AA44F-2310-EE11-8F6D-000D3ADEA4BC.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedsharepointonline_c963a"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedcommondataserviceforapps_55452"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Cuando_se_agrega,_modifica_o_elimina_una_fila": {
          "metadata": {
            "operationMetadataId": "916bbce8-1756-4d91-9859-0a74707f00e6"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "account",
              "subscriptionRequest/scope": 2,
              "subscriptionRequest/filteringattributes": "pfc_oldname"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Enviar_una_solicitud_HTTP_a_SharePoint": {
          "runAfter": {
            "Redactar_Etag": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "664a9190-4122-457b-9bc5-f2b24592d7a3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "HttpRequest",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://gencat.sharepoint.com/sites/MPFCTest",
              "parameters/method": "POST",
              "parameters/uri": "/_api/web/GetFolderByServerRelativeUrl('account/@{triggerOutputs()?['body/pfc_oldname']}')/ListItemAllFields",
              "parameters/headers": {
                "Accept": "application/json; odata=verbose",
                "Content-Type": "application/json; odata=verbose",
                "If-Match": "@{outputs('Redactar_Etag')}",
                "X-HTTP-Method": "MERGE"
              },
              "parameters/body": "{\n   \"__metadata\": {     \"type\": \"@{outputs('Redactar_type')}\"\n   },\n \"Title\": \"@{triggerOutputs()?['body/name']}\",\n \"FileLeafRef\": \"@{triggerOutputs()?['body/name']}\"\n }"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Enviar_una_solicitud_HTTP_a_SharePoint_2": {
          "runAfter": {
            "Aplicar_a_cada_uno": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6ecef36d-224b-4abb-aa0a-5e7404160062"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "HttpRequest",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://gencat.sharepoint.com/sites/MPFCTest",
              "parameters/method": "GET",
              "parameters/uri": "/_api/web/GetFolderByServerRelativeUrl('account/@{triggerOutputs()?['body/pfc_oldname']}')/ListItemAllFields",
              "parameters/headers": {
                "Content-Type": "application/json; odata=verbose",
                "Accept": "application/json; odata=verbose"
              }
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Redactar_type": {
          "runAfter": {
            "Enviar_una_solicitud_HTTP_a_SharePoint_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c8055f50-e6bb-4d0e-ab94-bca2564550c0"
          },
          "type": "Compose",
          "inputs": "@outputs('Enviar_una_solicitud_HTTP_a_SharePoint_2')['body/d/__metadata/type']"
        },
        "Redactar_Etag": {
          "runAfter": {
            "Redactar_type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c0e2ae12-ccaf-4272-8e2f-ebd5e0c59346"
          },
          "type": "Compose",
          "inputs": "@outputs('Enviar_una_solicitud_HTTP_a_SharePoint_2')['body/d/__metadata/etag']"
        },
        "Actualizar_una_fila": {
          "runAfter": {
            "Enviar_una_solicitud_HTTP_a_SharePoint": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "aaa0cc67-99bf-40c0-a724-3824858a0905"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "sharepointdocumentlocations",
              "recordId": "@variables('ID Document Location')",
              "item/relativeurl": "@triggerOutputs()?['body/name']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Enumerar_filas": {
          "runAfter": {
            "Inicializar_variable_ID_Document_Location": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "51aaf497-88c7-4852-ae9d-6bb8c5137f30"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "sharepointdocumentlocations",
              "fetchXml": "<fetch>\n  <entity name=\"sharepointdocumentlocation\">\n    <all-attributes />\n    <filter>\n      <condition attribute=\"regardingobjectid\" operator=\"eq\" value=\"@{triggerOutputs()?['body/accountid']}\" />\n    </filter>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Aplicar_a_cada_uno": {
          "foreach": "@outputs('Enumerar_filas')?['body/value']",
          "actions": {
            "Establecer_variable_ID_Document_Location": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "26c81902-e5ec-4592-8bee-6d0c7cace4a6"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ID Document Location",
                "value": "@items('Aplicar_a_cada_uno')?['sharepointdocumentlocationid']"
              }
            }
          },
          "runAfter": {
            "Enumerar_filas": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c9d357cb-412f-44ec-9ead-9c2f25be07cb"
          },
          "type": "Foreach"
        },
        "Inicializar_variable_ID_Document_Location": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2255d805-7a3f-42f7-a283-b695d97b8a74"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ID Document Location",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}