Solution/Unpacked/pfc_PFCDataModel/Workflows/CreateTaskForQueriesDGT-A2D7D468-8D9D-ED11-AAD0-0022489FA802.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedcommondataserviceforapps_55452"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataservice_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedcommondataservice_214d2"
        },
        "api": {
          "name": "shared_commondataservice"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedoffice365_2d413"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Periodicidad": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "timeZone": "Romance Standard Time",
            "schedule": {
              "hours": [
                "7"
              ],
              "minutes": [
                1
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "2dcccdf8-3ad0-48c4-9308-fa03559ac73e"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Enumerar_Consultas_a_DGT": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "bbc97f17-8db5-43d7-81c0-e665dca2a416"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "pfc_query_dgts",
              "fetchXml": "<fetch>\n  <entity name=\"pfc_query_dgt\">\n    <filter>\n      <condition attribute=\"pfc_presentationdatedgt\" operator=\"le\" value=\"@{addDays(utcNow(),-180)}\" />\n       <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Aplicar_a_cada_Consulta_DGT": {
          "foreach": "@outputs('Enumerar_Consultas_a_DGT')?['body/value']",
          "actions": {
            "Enumerar_Tareas": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "800e09f1-f36a-4e96-99a9-fc2fd0469a0c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "tasks",
                  "fetchXml": "<fetch>\n\t<entity name=\"task\">\n\t<filter>\n\t  <condition attribute=\"pfc_task_type\" operator=\"eq\" value=\"470000000\" />\n\t  <condition attribute=\"regardingobjectid\" operator=\"eq\" value=\"@{items('Aplicar_a_cada_Consulta_DGT')?['pfc_query_dgtid']}\" />\n\t  <condition attribute=\"ownerid\" operator=\"eq\" value=\"3d82c966-c09c-ed11-aad0-000d3adf90aa\"/>\n\t</filter>\n  </entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Aplicar_a_cada_Tarea": {
              "foreach": "@outputs('Enumerar_Tareas')?['body/value']",
              "actions": {
                "Establecer_variable": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4cf64dcf-c313-45d0-ae0f-06d0635903e4"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "HasTasks",
                    "value": "@true"
                  }
                }
              },
              "runAfter": {
                "Enumerar_Tareas": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9d349658-da7a-4035-a4e3-f4e832f4c6dc"
              },
              "type": "Foreach"
            },
            "Condición": {
              "actions": {
                "Agregar_una_fila_nueva_(heredado)": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "1e1957c4-5f89-4ccc-bd99-c513b43628ea"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataservice_1",
                      "operationId": "PostItem_V2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                    },
                    "parameters": {
                      "dataset": "https://integracio-eco-mpfc.crm4.dynamics.com",
                      "table": "tasks",
                      "item/scheduledstart": "@utcNow()",
                      "item/subject": "La Consulta DGT ha superat 6 mesos",
                      "item/_ownerid_value": "@outputs('Obtener_Equipo_por_id')?['body/teamid']",
                      "item/_ownerid_type": "teams",
                      "item/_regardingobjectid_value": "@items('Aplicar_a_cada_Consulta_DGT')?['pfc_query_dgtid']",
                      "item/_regardingobjectid_type": "pfc_query_dgts",
                      "item/isworkflowcreated": false,
                      "item/isbilled": false
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Enviar_correo_electrónico_(V2)": {
                  "runAfter": {
                    "Obtener_una_fila_por_id": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0dbd8cb9-2738-4795-b597-ee0656903ec1"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365_1",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "antonio.gomez.rojas@avanade.com",
                      "emailMessage/Subject": "La Consulta DGT ha superat 6 mesos",
                      "emailMessage/Body": "<p>Si us plau reviseu la consulta:<br>\n<br>\n<br><p><a href=\"https://integracio-eco-mpfc.crm4.dynamics.com/main.aspx?appid=1a5cc29d-5433-4a41-a039-0477bc1b1173&amp;pagetype=entityrecord&amp;etn=pfc_query_dgt&amp;id=@{outputs('Obtener_una_fila_por_id')?['body/pfc_query_dgtid']}\">Enllaç a la Consulta DGT</a>\n</p>",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Obtener_una_fila_por_id": {
                  "runAfter": {
                    "Agregar_una_fila_nueva_(heredado)": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "051d5064-2649-4a95-92d5-4c690c7ee617"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "pfc_query_dgts",
                      "recordId": "@items('Aplicar_a_cada_Consulta_DGT')?['pfc_query_dgtid']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Aplicar_a_cada_Tarea": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@variables('HasTasks')",
                  "@false"
                ]
              },
              "metadata": {
                "operationMetadataId": "e47e1dcf-f4f1-432e-8f00-1bf4decac10b"
              },
              "type": "If"
            },
            "Establecer_variable_2": {
              "runAfter": {
                "Condición": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "544c72b0-210e-4495-a19e-30013b99ff6e"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "HasTasks",
                "value": "@false"
              }
            }
          },
          "runAfter": {
            "Inicializar_variable_HasTasks": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "da2d198d-7340-4a10-ab9f-bc97f5902869"
          },
          "type": "Foreach"
        },
        "Inicializar_variable_HasTasks": {
          "runAfter": {
            "Obtener_Equipo_por_id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3ef2820a-d138-4256-b686-6b34ce903086"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "HasTasks",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Obtener_Equipo_por_id": {
          "runAfter": {
            "Enumerar_Consultas_a_DGT": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "02c33925-9ad8-4343-bb26-84dd01fb9f98"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "teams",
              "recordId": "3d82c966-c09c-ed11-aad0-000d3adf90aa"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}