Solution/Unpacked/pfc_PFCDataModel/Workflows/CreateOETFolders-59B28957-77DF-ED11-A7C6-002248A1C671.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedcommondataserviceforapps_55452"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedsharepointonline_c963a"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_commondataservice_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedcommondataservice_214d2"
        },
        "api": {
          "name": "shared_commondataservice"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SharepointSite (pfc_sharepointsite)": {
          "defaultValue": "https://gencat.sharepoint.com/sites/MPFCTest",
          "type": "String",
          "metadata": {
            "schemaName": "pfc_sharepointsite"
          }
        }
      },
      "triggers": {
        "Cuando_se_agrega_una_fila": {
          "metadata": {
            "operationMetadataId": "b691da2f-fa81-4791-9224-2c042748f9ef"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataservice_1",
              "operationId": "SubscribeOnNewItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
            },
            "parameters": {
              "dataset": "default.cds",
              "table": "pfc_tax_transcendence_operations",
              "scope": "Organization"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Inicializar_variable(Path)": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "63e5f9c4-4b09-43d8-b529-3d9a2af34e13"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Path",
                "type": "string"
              }
            ]
          }
        },
        "Obtener_una_fila_por_id_(Entitat)": {
          "runAfter": {
            "Inicializar_variable_(SharepointURL)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "29c95bd0-54c0-447d-b881-65079542abca"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "recordId": "@triggerOutputs()?['body/_pfc_accountid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Establecer_variable_(Path)": {
          "runAfter": {
            "Obtener_una_fila_por_id_(Entitat)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6f148512-7bbb-4e88-aa46-7d8b74a00028"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Path",
            "value": "@{outputs('Obtener_una_fila_por_id_(Entitat)')?['body/name']}/pfc_tax_transcendence_operation/@{triggerOutputs()?['body/pfc_name']}"
          }
        },
        "Crear_nueva_carpeta_(Documents_de_treball)": {
          "runAfter": {
            "Establecer_variable_(Path)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "147f1bc4-8223-4995-87cb-91f244e63f16"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "CreateNewFolder",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@variables('SharepointURL')",
              "table": "57fbeece-f958-47de-b986-087d75d3c21d",
              "parameters/path": "@{variables('Path')}/Documents de treball"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Crear_nueva_carpeta_(Documents_de_l'ens)": {
          "runAfter": {
            "Crear_nueva_carpeta_(Documents_de_treball)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cb81139f-2546-47df-a176-0e166c596bd0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "CreateNewFolder",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@variables('SharepointURL')",
              "table": "57fbeece-f958-47de-b986-087d75d3c21d",
              "parameters/path": "@{variables('Path')}/Documents de l'ens"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Inicializar_variable_(SharepointURL)": {
          "runAfter": {
            "Inicializar_variable(Path)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1909fc7a-50c8-4f88-888d-bb4afb9b1025"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SharepointURL",
                "type": "string",
                "value": "@parameters('SharepointSite (pfc_sharepointsite)')"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}