Solution/Unpacked/pfc_PFCDataModel/Workflows/SendEmailWhenValidatedQueryIsCreated-4F51B42D-0710-EE11-8F6D-000D3ADF727D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedcommondataserviceforapps_55452"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedoffice365_2d413"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "PortalUrl (pfc_portalurl)": {
          "defaultValue": "https://integracio-eco-mpfc-web.powerappsportals.com/",
          "type": "String",
          "metadata": {
            "schemaName": "pfc_portalurl"
          }
        }
      },
      "triggers": {
        "Cuando_se_agrega,_modifica_o_elimina_una_fila": {
          "metadata": {
            "operationMetadataId": "c5794d67-b54f-433e-aa5a-e714cc6b4eda"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "pfc_validatedquery",
              "subscriptionRequest/scope": 2
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condición": {
          "actions": {
            "Url_solicitant": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d111edbb-a364-491e-a67b-9934a66a712e"
              },
              "type": "Compose",
              "inputs": "@{parameters('PortalUrl (pfc_portalurl)')}/Assistència-i-suport/"
            },
            "Url_interessats": {
              "runAfter": {
                "Url_solicitant": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a1a834f7-511b-4a4e-9a43-fc287eed0b48"
              },
              "type": "Compose",
              "inputs": "@{parameters('PortalUrl (pfc_portalurl)')}/Assistència-i-suport/consultes-interessat/"
            },
            "ConsultaDGT:_Obtener_una_fila_por_id": {
              "runAfter": {
                "Url_interessats": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d0045b9a-def0-4c51-82c0-4643278fd022"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "pfc_query_dgts",
                  "recordId": "@triggerOutputs()?['body/_regardingobjectid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condició_Notification_is_Enabled": {
              "actions": {
                "Obtener_email_solicitant": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "aac7c988-7345-485a-bc37-c1604519db85"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "contacts",
                      "recordId": "@outputs('ConsultaDGT:_Obtener_una_fila_por_id')?['body/_pfc_applicantid_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Contactos_Relacionados:_Enumerar_filas": {
                  "runAfter": {
                    "Obtener_email_solicitant": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a60e8d61-fcdd-4282-845d-f880d7985280"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "contacts",
                      "fetchXml": "<fetch>\n  <entity name=\"contact\">\n        <attribute name=\"contactid\" />\n        <attribute name=\"emailaddress1\" />\n    <link-entity name=\"pfc_contact_pfc_query_dgt\" from=\"contactid\" to=\"contactid\" intersect=\"true\">\n      <filter>\n        <condition attribute=\"pfc_query_dgtid\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_regardingobjectid_value']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Aplicar_a_cada_uno": {
                  "foreach": "@outputs('Contactos_Relacionados:_Enumerar_filas')?['body/value']",
                  "actions": {
                    "Anexar_a_la_variable_de_cadena": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "618def51-3005-414b-b0e9-0130be275499"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "Contactos Relacionados",
                        "value": "@{items('Aplicar_a_cada_uno')?['emailaddress1']};"
                      }
                    },
                    "Defineix_la_variable_Interesados": {
                      "runAfter": {
                        "Anexar_a_la_variable_de_cadena": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "08128b76-5cb3-4ece-aa60-4c08050fabd4"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Interesados",
                        "value": "@true"
                      }
                    }
                  },
                  "runAfter": {
                    "Contactos_Relacionados:_Enumerar_filas": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "48318bf4-9193-4187-95e0-a8265710e40c"
                  },
                  "type": "Foreach"
                },
                "Destinatarios:_Establecer_variable": {
                  "runAfter": {
                    "Aplicar_a_cada_uno": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "819a5071-9853-44d8-8da1-e387544d3ccf"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Destinatarios",
                    "value": "@{variables('Contactos Relacionados')}@{outputs('ConsultaDGT:_Obtener_una_fila_por_id')?['body/pfc_interestedpeople']}"
                  }
                },
                "Correo_Solicitant": {
                  "runAfter": {
                    "Destinatarios:_Establecer_variable": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7af7e1f5-26bf-41df-80fa-39cd34c288cf"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365_1",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "@outputs('Obtener_email_solicitant')?['body/emailaddress1']",
                      "emailMessage/Subject": "@{outputs('ConsultaDGT:_Obtener_una_fila_por_id')?['body/pfc_name']}- Consultes Validades:@{triggerOutputs()?['body/subject']}",
                      "emailMessage/Body": "<p>Bon dia,<br>\n<br>\nJa teniu disponible la consulta a presentar a la DGT concernent a la vostra consulta a la DGT @{outputs('ConsultaDGT:_Obtener_una_fila_por_id')?['body/pfc_name']}.<br>\n<br>\nPodeu accedir-hi des del següent enlaç:\n<br><p><a href=\"@{outputs('Url_solicitant')}\"> Enllaç a la web</a></p><br>\n<br>\nSalutacions,<br>\nÀrea de Política Fiscal.<br>",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condició_Interesados_-_Personas_Relacionadas": {
                  "actions": {
                    "Correo_Solicitant_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "7af7e1f5-26bf-41df-80fa-39cd34c288cf"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365_1",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@{variables('Contactos Relacionados')}@{outputs('ConsultaDGT:_Obtener_una_fila_por_id')?['body/pfc_interestedpeople']}",
                          "emailMessage/Subject": "@{outputs('ConsultaDGT:_Obtener_una_fila_por_id')?['body/pfc_name']}- Consultes Validades:@{triggerOutputs()?['body/subject']}",
                          "emailMessage/Body": "<p>Bon dia,<br>\n<br>\nJa teniu disponible la consulta a presentar a la DGT concernent a la vostra consulta a la DGT @{outputs('ConsultaDGT:_Obtener_una_fila_por_id')?['body/pfc_name']}.<br>\n<br>\nPodeu accedir-hi des del següent enlaç:\n<br><p><a href=\"@{outputs('Url_interessats')}\"> Enllaç a la web</a></p><br>\n<br>\nSalutacions,<br>\nÀrea de Política Fiscal.<br>",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Correo_Solicitant": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@variables('Interesados')",
                          "@true"
                        ]
                      },
                      {
                        "not": {
                          "equals": [
                            "@outputs('ConsultaDGT:_Obtener_una_fila_por_id')?['body/pfc_interestedpeople']",
                            "@null"
                          ]
                        }
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cbc7eb79-7e29-49ad-82fa-0c8b15adcdc1"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "ConsultaDGT:_Obtener_una_fila_por_id": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Correo_Equipo_de_Desarrollo": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "7af7e1f5-26bf-41df-80fa-39cd34c288cf"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_office365_1",
                        "operationId": "SendEmailV2",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                      },
                      "parameters": {
                        "emailMessage/To": "@variables('Destinatarios Equipo')",
                        "emailMessage/Subject": "@{outputs('ConsultaDGT:_Obtener_una_fila_por_id')?['body/pfc_name']}- Consultes Validades:@{triggerOutputs()?['body/subject']}",
                        "emailMessage/Body": "<p>Bon dia,<br>\n<br>\nJa teniu disponible la consulta a presentar a la DGT concernent a la vostra consulta a la DGT @{outputs('ConsultaDGT:_Obtener_una_fila_por_id')?['body/pfc_name']}.<br>\n<br>\nPodeu accedir-hi des del següent enlaç:\n<br><p><a href=\"@{outputs('Url_solicitant')}\"> Enllaç a la web</a></p><br>\n<br>\nSalutacions,<br>\nÀrea de Política Fiscal.<br>",
                        "emailMessage/Importance": "Normal"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@variables('NotificationIsEnable')",
                  "@true"
                ]
              },
              "metadata": {
                "operationMetadataId": "dcbc932a-eacf-4ae9-90e9-d22ca11b71f6"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Àmbit_Equipos": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/_regardingobjectid_value@Microsoft.Dynamics.CRM.lookuplogicalname']",
              "pfc_query_dgt"
            ]
          },
          "metadata": {
            "operationMetadataId": "e6658f60-75e0-4d1b-a10d-3f2e1c78475e"
          },
          "type": "If"
        },
        "Contactos_Relacionados": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e8d28107-221f-43dc-8ba9-77c93edd3a5b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Contactos Relacionados",
                "type": "string"
              }
            ]
          }
        },
        "Destinatarios:_Inicializar_variable": {
          "runAfter": {
            "Inicializar_variable_(Destinatarios_Equipo)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1d1e3567-73cd-4b59-9b98-4a8518054602"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Destinatarios",
                "type": "string"
              }
            ]
          }
        },
        "Inicializar_variable_URL": {
          "runAfter": {
            "Contactos_Relacionados": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8e5ef329-84d1-4aaf-91e3-c27e06daa8e6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "URL",
                "type": "string"
              }
            ]
          }
        },
        "Inicializar_variable_NotificationIsEnable": {
          "runAfter": {
            "Inicializar_variable_URL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7480c7b9-3e6e-48c5-a925-322fbf9d2b7c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NotificationIsEnable",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Inicializar_variable_(Destinatarios_Equipo)": {
          "runAfter": {
            "Inicializar_variable_NotificationIsEnable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "85e13893-278c-4bd8-a9f7-f8f67910fdfb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Destinatarios Equipo",
                "type": "string"
              }
            ]
          }
        },
        "Inicialitza_la_variable_Interesados": {
          "runAfter": {
            "Destinatarios:_Inicializar_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "32986b05-c5fc-4db7-95e6-40cd6c0df833"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Interesados",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Àmbit_Configuració_del_Lloc": {
          "actions": {
            "Obtener_Configuració_del_lloc_-_URL": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7560178d-15ff-4a8e-a284-d30354b1cf5b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "adx_sitesettings",
                  "$select": "adx_name, adx_value",
                  "$filter": "adx_name eq 'Portal/EnvioMail'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Aplicar_a_cada_Configuració_del_Lloc_-_URL": {
              "foreach": "@outputs('Obtener_Configuració_del_lloc_-_URL')?['body/value']",
              "actions": {
                "Defineix_la_variable_URL": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "2e17b863-e86c-43ba-89c7-300b6411c6ea"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "URL",
                    "value": "@items('Aplicar_a_cada_Configuració_del_Lloc_-_URL')?['adx_value']"
                  }
                }
              },
              "runAfter": {
                "Obtener_Configuració_del_lloc_-_URL": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1bebbf70-a159-4e50-b8a7-8f29269a3c34"
              },
              "type": "Foreach"
            },
            "Obtener_Configuració_del_lloc_-_(Notificaciones_Activas)": {
              "runAfter": {
                "Aplicar_a_cada_Configuració_del_Lloc_-_URL": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "57e3c392-2ccc-4ec5-b741-2d91ed31a6d3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "adx_sitesettings",
                  "$select": "adx_name, adx_value",
                  "$filter": "adx_name eq 'PowerAutomate/Notifications'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_Configuració_del_lloc_-_(Notificaciones_Activas)": {
              "foreach": "@outputs('Obtener_Configuració_del_lloc_-_(Notificaciones_Activas)')?['body/value']",
              "actions": {
                "Condició": {
                  "actions": {
                    "Defineix_la_variable_NotificationsIsEnable": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "9b643c05-4457-482a-8aa4-97b9e7298f99"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "NotificationIsEnable",
                        "value": "@true"
                      }
                    }
                  },
                  "runAfter": {},
                  "expression": {
                    "contains": [
                      "@items('Apply_to_each_Configuració_del_lloc_-_(Notificaciones_Activas)')?['adx_value']",
                      "Si"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a9fae32f-3cc0-4664-9c27-d9731423568e"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Obtener_Configuració_del_lloc_-_(Notificaciones_Activas)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f87862ad-ad06-49bd-9a33-534fe240451e"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Inicialitza_la_variable_Interesados": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "74481d2f-3780-4a1b-af10-ef7f0d280318"
          },
          "type": "Scope"
        },
        "Àmbit_Equipos": {
          "actions": {
            "Enumera_les_files_Equipos": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e27431ba-cdc6-48c7-83e2-332384849583"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "teams",
                  "$filter": "name eq 'Equip de desenvolupament'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_Equipo": {
              "foreach": "@outputs('Enumera_les_files_Equipos')?['body/value']",
              "actions": {
                "Enumera_los_miembros_del_Equipo": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "3fb7080a-0cda-4c67-892b-4c6e53edd802"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "systemusers",
                      "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"true\">\n<entity name=\"systemuser\">\n<link-entity name=\"teammembership\" from=\"systemuserid\" to=\"systemuserid\">\n<link-entity name=\"team\" from=\"teamid\" to=\"teamid\" alias=\"ac\">\n<filter type=\"and\">\n<condition attribute=\"teamid\" operator=\"eq\" value=\"@{items('Apply_to_each_Equipo')?['teamid']}\"/>\n</filter>\n</link-entity>\n</link-entity>\n</entity>\n</fetch>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Aplicar_a_cada_miembro_del_Equipo": {
                  "foreach": "@outputs('Enumera_los_miembros_del_Equipo')?['body/value']",
                  "actions": {
                    "Annexa-ho_a_la_variable_Destinatarios_Equipo": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "0f8fcc28-20f6-42c7-ae14-b613afed3789"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "Destinatarios Equipo",
                        "value": "@{items('Aplicar_a_cada_miembro_del_Equipo')?['internalemailaddress']};"
                      }
                    }
                  },
                  "runAfter": {
                    "Enumera_los_miembros_del_Equipo": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c2945385-55f9-44bc-9f3f-c0b8c9b5ef48"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Enumera_les_files_Equipos": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d0503a82-407b-4674-b6a2-427b65a82eb4"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Àmbit_Configuració_del_Lloc": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "305c8e5b-92bb-4f6f-bb14-960d51636635"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}