Solution/Unpacked/pfc_PFCDataModel/Workflows/SendEmailWhenJustificantDEnviamentIsCreated-82F47EEC-0D10-EE11-8F6D-002248A1C671.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_3": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedcommondataserviceforapps_55452"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedoffice365_2d413"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Cuando_se_agrega,_modifica_o_elimina_una_fila": {
          "metadata": {
            "operationMetadataId": "fa1f584d-3e6c-4bc2-a3ec-5ce680909e4d"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_3",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "pfc_sentquery",
              "subscriptionRequest/scope": 2
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "PersonasRelacionadas:_Inicializar_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "200cb046-1639-4ba5-87f2-f0040bf98791"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PersonasRelacionadas",
                "type": "string"
              }
            ]
          }
        },
        "Condición": {
          "actions": {
            "Ámbito_Consulta_DGT": {
              "actions": {
                "ConsultaDGT:_Obtener_una_fila_por_id": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "93c930fe-a9f1-478b-a167-31127960a107"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_3",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "pfc_query_dgts",
                      "recordId": "@triggerOutputs()?['body/_regardingobjectid_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condició_Notifications_Is_Enable": {
                  "actions": {
                    "ContactesRelacionats:_Enumerar_filas": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "ad3d8e1e-9394-4351-a7e9-86a798c27980"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_3",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "contacts",
                          "fetchXml": "<fetch>\n  <entity name=\"contact\">\n        <attribute name=\"contactid\" />\n        <attribute name=\"emailaddress1\" />\n    <link-entity name=\"pfc_contact_pfc_query_dgt\" from=\"contactid\" to=\"contactid\" intersect=\"true\">\n      <filter>\n        <condition attribute=\"pfc_query_dgtid\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_regardingobjectid_value']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Obtener_Solicitant": {
                      "runAfter": {
                        "ContactesRelacionats:_Enumerar_filas": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f9b9928f-4924-4ce0-8c3a-6ba47e687fc3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_3",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "contacts",
                          "recordId": "@outputs('ConsultaDGT:_Obtener_una_fila_por_id')?['body/_pfc_applicantid_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Aplicar_a_cada_uno": {
                      "foreach": "@outputs('ContactesRelacionats:_Enumerar_filas')?['body/value']",
                      "actions": {
                        "PersonasRelacionadas:_Anexar_a_la_variable_de_cadena": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "b61ebe00-a443-4e56-968d-759a1ea0eeb2"
                          },
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "PersonasRelacionadas",
                            "value": "@{items('Aplicar_a_cada_uno')?['emailaddress1']};"
                          }
                        },
                        "Defineix_la_variable_Interesados": {
                          "runAfter": {
                            "PersonasRelacionadas:_Anexar_a_la_variable_de_cadena": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "08128b76-5cb3-4ece-aa60-4c08050fabd4"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Interesados",
                            "value": "@true"
                          }
                        }
                      },
                      "runAfter": {
                        "Obtener_Solicitant": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "147a8054-c580-4e8f-83da-d015aa8b67cf"
                      },
                      "type": "Foreach"
                    },
                    "Enviar_correo_electrónico_(V2)": {
                      "runAfter": {
                        "Aplicar_a_cada_uno": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "ac12b65b-c1a1-4e9d-99c1-94cbfbba8088"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365_1",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@outputs('Obtener_Solicitant')?['body/emailaddress1']",
                          "emailMessage/Subject": "@triggerOutputs()?['body/subject']",
                          "emailMessage/Body": "<p>Bon dia,<br>\n<br>\nJa teniu disponible la consulta a presentar a la DGT concernent a la vostra consulta a la DGT @{outputs('ConsultaDGT:_Obtener_una_fila_por_id')?['body/pfc_name']}.<br>\n<br>\nPodeu accedir-hi des del següent enlaç:<br>\n<br><p><a href=\"@{outputs('Redactar')}\"> Enllaç a la web</a></p><br>\n<br>\nSalutacions,<br>\nÀrea de Política Fiscal.<br>\n<br>\n</p>",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Condició_Interesados_-_Personas_Relacionadas": {
                      "actions": {
                        "Enviar_correo_electrónico_(V2)_3": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "ac12b65b-c1a1-4e9d-99c1-94cbfbba8088"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_office365_1",
                              "operationId": "SendEmailV2",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                            },
                            "parameters": {
                              "emailMessage/To": "@{variables('PersonasRelacionadas')}@{outputs('ConsultaDGT:_Obtener_una_fila_por_id')?['body/pfc_interestedpeople']}",
                              "emailMessage/Subject": "@triggerOutputs()?['body/subject']",
                              "emailMessage/Body": "<p>Bon dia,<br>\n<br>\nJa teniu disponible la consulta a presentar a la DGT concernent a la vostra consulta a la DGT @{outputs('ConsultaDGT:_Obtener_una_fila_por_id')?['body/pfc_name']}.<br>\n<br>\nPodeu accedir-hi des del següent enlaç:<br>\n<br><p><a href=\"@{outputs('Redactar_(Enlace_interessat)_')}\"> Enllaç a la web</a></p><br>\n<br>\nSalutacions,<br>\nÀrea de Política Fiscal.<br>\n<br>\n</p>",
                              "emailMessage/Importance": "Normal"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {
                        "Enviar_correo_electrónico_(V2)": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "or": [
                          {
                            "equals": [
                              "@variables('Interesados')",
                              "@true"
                            ]
                          },
                          {
                            "not": {
                              "equals": [
                                "@outputs('ConsultaDGT:_Obtener_una_fila_por_id')?['body/pfc_interestedpeople']",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6cb7aabe-662e-4eaf-a78e-f019d652f206"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Redactar_(Enlace_interessat)_": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Enviar_correo_electrónico_(V2)_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "ac12b65b-c1a1-4e9d-99c1-94cbfbba8088"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365_1",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@variables('Destinatarios Equipo')",
                            "emailMessage/Subject": "@triggerOutputs()?['body/subject']",
                            "emailMessage/Body": "<p>Bon dia,<br>\n<br>\nJa teniu disponible la consulta a presentar a la DGT concernent a la vostra consulta a la DGT @{outputs('ConsultaDGT:_Obtener_una_fila_por_id')?['body/pfc_name']}.<br>\n<br>\nPodeu accedir-hi des del següent enlaç:<br>\n<br><p><a href=\"@{outputs('Redactar')}\"> Enllaç a la web</a></p><br>\n<br>\nSalutacions,<br>\nÀrea de Política Fiscal.<br>\n<br>\n</p>",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@variables('NotificationIsEnable')",
                      "@true"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "31524d70-7127-4b5c-a9a7-f2372d7e5df4"
                  },
                  "type": "If"
                },
                "Redactar": {
                  "runAfter": {
                    "ConsultaDGT:_Obtener_una_fila_por_id": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f82095bb-6cf3-4aea-94b0-9de38a67d95d"
                  },
                  "type": "Compose",
                  "inputs": "@{variables('URL')}/Assist%C3%A8ncia-i-suport/consultesDGT/"
                },
                "Redactar_(Enlace_interessat)_": {
                  "runAfter": {
                    "Redactar": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f82095bb-6cf3-4aea-94b0-9de38a67d95d"
                  },
                  "type": "Compose",
                  "inputs": "@{variables('URL')}/Assist%C3%A8ncia-i-suport/consultesDGT-interessat/"
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "1de44813-5a57-4d47-a877-4b80cbd8cb18"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "Àmbit_Equipos": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/_regardingobjectid_value@Microsoft.Dynamics.CRM.lookuplogicalname']",
              "pfc_query_dgt"
            ]
          },
          "metadata": {
            "operationMetadataId": "e4b60a37-5574-4fd3-81eb-9d91c5a1e92b"
          },
          "type": "If"
        },
        "Destinatarios:_Inicializar_variable": {
          "runAfter": {
            "PersonasRelacionadas:_Inicializar_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2040dba0-8cc7-4295-804f-8da0f4fc2359"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Destinatarios",
                "type": "string"
              }
            ]
          }
        },
        "Inicializar_variable_(Destinatarios_Equipo)": {
          "runAfter": {
            "Destinatarios:_Inicializar_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "85e13893-278c-4bd8-a9f7-f8f67910fdfb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Destinatarios Equipo",
                "type": "string"
              }
            ]
          }
        },
        "Àmbit_Equipos": {
          "actions": {
            "Enumera_les_files_Equipos": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e27431ba-cdc6-48c7-83e2-332384849583"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_3",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "teams",
                  "$filter": "name eq 'Equip de desenvolupament'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_Equipo": {
              "foreach": "@outputs('Enumera_les_files_Equipos')?['body/value']",
              "actions": {
                "Enumera_los_miembros_del_Equipo": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "3fb7080a-0cda-4c67-892b-4c6e53edd802"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_3",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "systemusers",
                      "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"true\">\n<entity name=\"systemuser\">\n<link-entity name=\"teammembership\" from=\"systemuserid\" to=\"systemuserid\">\n<link-entity name=\"team\" from=\"teamid\" to=\"teamid\" alias=\"ac\">\n<filter type=\"and\">\n<condition attribute=\"teamid\" operator=\"eq\" value=\"@{items('Apply_to_each_Equipo')?['teamid']}\"/>\n</filter>\n</link-entity>\n</link-entity>\n</entity>\n</fetch>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Aplicar_a_cada_miembro_del_Equipo": {
                  "foreach": "@outputs('Enumera_los_miembros_del_Equipo')?['body/value']",
                  "actions": {
                    "Annexa-ho_a_la_variable_Destinatarios_Equipo": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "0f8fcc28-20f6-42c7-ae14-b613afed3789"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "Destinatarios Equipo",
                        "value": "@{items('Aplicar_a_cada_miembro_del_Equipo')?['internalemailaddress']};"
                      }
                    }
                  },
                  "runAfter": {
                    "Enumera_los_miembros_del_Equipo": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c2945385-55f9-44bc-9f3f-c0b8c9b5ef48"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Enumera_les_files_Equipos": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d0503a82-407b-4674-b6a2-427b65a82eb4"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Àmbit_Configuració_del_Lloc": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "305c8e5b-92bb-4f6f-bb14-960d51636635"
          },
          "type": "Scope"
        },
        "Àmbit_Configuració_del_Lloc": {
          "actions": {
            "Obtener_Configuració_del_lloc_-_URL": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7560178d-15ff-4a8e-a284-d30354b1cf5b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_3",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "adx_sitesettings",
                  "$select": "adx_name, adx_value",
                  "$filter": "adx_name eq 'Portal/EnvioMail'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Aplicar_a_cada_Configuració_del_Lloc_-_URL": {
              "foreach": "@outputs('Obtener_Configuració_del_lloc_-_URL')?['body/value']",
              "actions": {
                "Defineix_la_variable_URL": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "2e17b863-e86c-43ba-89c7-300b6411c6ea"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "URL",
                    "value": "@items('Aplicar_a_cada_Configuració_del_Lloc_-_URL')?['adx_value']"
                  }
                }
              },
              "runAfter": {
                "Obtener_Configuració_del_lloc_-_URL": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1bebbf70-a159-4e50-b8a7-8f29269a3c34"
              },
              "type": "Foreach"
            },
            "Obtener_Configuració_del_lloc_-_(Notificaciones_Activas)": {
              "runAfter": {
                "Aplicar_a_cada_Configuració_del_Lloc_-_URL": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "57e3c392-2ccc-4ec5-b741-2d91ed31a6d3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_3",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "adx_sitesettings",
                  "$select": "adx_name, adx_value",
                  "$filter": "adx_name eq 'PowerAutomate/Notifications'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_Configuració_del_lloc_-_(Notificaciones_Activas)": {
              "foreach": "@outputs('Obtener_Configuració_del_lloc_-_(Notificaciones_Activas)')?['body/value']",
              "actions": {
                "Condició": {
                  "actions": {
                    "Defineix_la_variable_NotificationsIsEnable": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "9b643c05-4457-482a-8aa4-97b9e7298f99"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "NotificationIsEnable",
                        "value": "@true"
                      }
                    }
                  },
                  "runAfter": {},
                  "expression": {
                    "contains": [
                      "@items('Apply_to_each_Configuració_del_lloc_-_(Notificaciones_Activas)')?['adx_value']",
                      "Si"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a9fae32f-3cc0-4664-9c27-d9731423568e"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Obtener_Configuració_del_lloc_-_(Notificaciones_Activas)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f87862ad-ad06-49bd-9a33-534fe240451e"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Inicialitza_la_variable_Interesados": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "74481d2f-3780-4a1b-af10-ef7f0d280318"
          },
          "type": "Scope"
        },
        "Inicialitza_la_variable_URL": {
          "runAfter": {
            "Inicializar_variable_(Destinatarios_Equipo)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ccfa42f7-3797-4cd9-bd35-559ad45d6445"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "URL",
                "type": "string"
              }
            ]
          }
        },
        "Inicialitza_la_variable_NotificationIsEnable": {
          "runAfter": {
            "Inicialitza_la_variable_URL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a22273fb-5d41-43d2-81dd-382cf13b0dba"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NotificationIsEnable",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Inicialitza_la_variable_Interesados": {
          "runAfter": {
            "Inicialitza_la_variable_NotificationIsEnable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b21c380c-9414-40f1-9f88-7185d1c38c99"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Interesados",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}