Solution/Unpacked/pfc_PFCDataModel/Workflows/SendNotificationWhenResponseIsResolvedOrNot-A987246D-02E4-ED11-A7C7-000D3ADEA4BC.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedcommondataserviceforapps_55452"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedoffice365_2d413"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_commondataservice": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedcommondataservice_214d2"
        },
        "api": {
          "name": "shared_commondataservice"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Enviroment Url (pfc_enviromenturl)": {
          "defaultValue": "https://integracio-eco-mpfc.crm4.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "pfc_enviromenturl"
          }
        }
      },
      "triggers": {
        "Cuando_se_modifica_una_fila": {
          "metadata": {
            "operationMetadataId": "3a192776-eabe-4cc6-a891-01785e5f3a20"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataservice",
              "operationId": "SubscribeOnUpdatedItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
            },
            "parameters": {
              "dataset": "default.cds",
              "table": "pfc_answers",
              "scope": "Business unit"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condición_2": {
          "actions": {
            "Condición": {
              "actions": {
                "Obtener_una_fila_por_id": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "be3d9611-01c4-4ee9-890a-92070c77fcd9"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "pfc_queries",
                      "recordId": "@triggerOutputs()?['body/_regardingobjectid_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Redactar": {
                  "runAfter": {
                    "Obtener_una_fila_por_id_4": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1ea454e0-fa76-4b1a-ab21-f34a79a0732d"
                  },
                  "type": "Compose",
                  "inputs": "@{parameters('Enviroment Url (pfc_enviromenturl)')}/main.aspx?appid=3a3f1ab2-f282-ed11-81ac-000d3ad9cd83&pagetype=entityrecord&etn=pfc_answer&id=@{triggerOutputs()?['body/activityid']}"
                },
                "Enviar_correo_electrónico_(V2)": {
                  "runAfter": {
                    "Redactar": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "10f52321-cdf8-4b1e-865c-056252561d5a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365_1",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "@outputs('Obtener_una_fila_por_id_4')?['body/internalemailaddress']",
                      "emailMessage/Subject": "Resolució resposta consulta @{outputs('Obtener_una_fila_por_id')?['body/pfc_name']}",
                      "emailMessage/Body": "<br>Bon dia,</br>\n\n<br>L'entitat ha validat la resposta donada a la consulta @{outputs('Obtener_una_fila_por_id')?['body/pfc_name']}.</br>\n\n<br>Podeu visualitzar els detalls al següent enllaç: <br><p><a href=\"@{outputs('Redactar')}\"> @{triggerOutputs()?['body/subject']}</a></p><br></br>\n\nSalutacions.",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Obtener_una_fila_por_id_4": {
                  "runAfter": {
                    "Obtener_una_fila_por_id": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "bcdd50f2-1cc8-462a-aaa3-3685f379a93d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "systemusers",
                      "recordId": "@outputs('Obtener_una_fila_por_id')?['body/_ownerid_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Obtener_una_fila_por_id_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "be76e7e0-0743-4108-91b3-2034945261d5"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "pfc_queries",
                        "recordId": "@triggerOutputs()?['body/_regardingobjectid_value']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Redactar_2": {
                    "runAfter": {
                      "Obtener_una_fila_por_id_3": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "5f99d0b1-fbac-4bd6-b966-83b62e83612e"
                    },
                    "type": "Compose",
                    "inputs": "@{parameters('Enviroment Url (pfc_enviromenturl)')}/main.aspx?appid=3a3f1ab2-f282-ed11-81ac-000d3ad9cd83&pagetype=entityrecord&etn=pfc_answer&id=@{triggerOutputs()?['body/activityid']}"
                  },
                  "Enviar_correo_electrónico_(V2)_2": {
                    "runAfter": {
                      "Redactar_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "d321dc89-8cc5-4a27-aa8b-f2ec16950045"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_office365_1",
                        "operationId": "SendEmailV2",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                      },
                      "parameters": {
                        "emailMessage/To": "@outputs('Obtener_una_fila_por_id_3')?['body/internalemailaddress']",
                        "emailMessage/Subject": "Resolució resposta consulta @{outputs('Obtener_una_fila_por_id_2')?['body/pfc_name']}",
                        "emailMessage/Body": "<br>Bon dia,</br>\n\n<br>L'entitat no ha validat la resposta donada a la consulta @{outputs('Obtener_una_fila_por_id_2')?['body/pfc_name']}.</br>\n\n<br>Podeu visualitzar els detalls al següent enllaç: <br><p><a href=\"@{outputs('Redactar_2')}\"> @{triggerOutputs()?['body/subject']}</a></p><br></br>\n\nSalutacions.",
                        "emailMessage/Importance": "Normal"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Obtener_una_fila_por_id_3": {
                    "runAfter": {
                      "Obtener_una_fila_por_id_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "5edd55f9-a2d5-41ca-9d42-cc80567a0327"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "systemusers",
                        "recordId": "@outputs('Obtener_una_fila_por_id_2')?['body/_ownerid_value']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@triggerOutputs()?['body/pfc_correctanswer']",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "25645d1b-5e91-45dd-ba28-8a68bc1946fd"
              },
              "type": "If"
            }
          },
          "runAfter": {},
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/activitytypecode']",
                  "pfc_answer"
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/pfc_copyfiletosharepoint']",
                  "@true"
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/statecode']",
                  1
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/statuscode']",
                  2
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "b35776c7-ec9a-4bae-8bec-ddc1c2ef4af0"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}