Solution/Unpacked/pfc_PFCDataModel/Workflows/SendEmailWhenAnswerIsCreated-D7C2D01F-90C9-ED11-B597-000D3ADF90AA.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedcommondataserviceforapps_55452"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedoffice365_2d413"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Cuando_se_crea_o_se_modifica_un_registro_de_Respuesta_": {
          "metadata": {
            "operationMetadataId": "e0f5b817-0426-4c7f-aabc-2605a197a16c"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "pfc_answer",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "pfc_notificaciondeliverynumber",
              "subscriptionRequest/filterexpression": "pfc_notificaciondeliverynumber lt 1"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Inicializar_variable_URL": {
          "runAfter": {
            "Inicializar_variable_Notificacion_delivery_number": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8e5ef329-84d1-4aaf-91e3-c27e06daa8e6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "URL",
                "type": "string"
              }
            ]
          }
        },
        "Inicializar_variable_Notificacion_delivery_number": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "47761abe-b9d1-4971-b997-428c0cc1dc5f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "notificaciondeliverynumber",
                "type": "integer",
                "value": "@triggerOutputs()?['body/pfc_notificaciondeliverynumber']"
              }
            ]
          }
        },
        "Inicializar_variable_(Destinatarios)": {
          "runAfter": {
            "Inicializar_variable_NotificationIsEnable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f2afae02-b016-4c44-ba8e-195194d459cb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Destinatarios",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "Inicialitza_la_variable_Interesados": {
          "runAfter": {
            "Inicializar_variable_(Destinatarios_Equipo)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "32986b05-c5fc-4db7-95e6-40cd6c0df833"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Interesados",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Condició_Numero_de_Envios": {
          "actions": {
            "Incrementar_Notificacion_delivery_number": {
              "runAfter": {
                "Conmutador": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7b267373-1cb6-492f-90c1-97f4670f318e"
              },
              "type": "IncrementVariable",
              "inputs": {
                "name": "notificaciondeliverynumber",
                "value": 1
              }
            },
            "Actualizar_una_fila": {
              "runAfter": {
                "Incrementar_Notificacion_delivery_number": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e1823229-26ba-4a9a-938a-ee88d3142fea"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "pfc_answers",
                  "recordId": "@triggerOutputs()?['body/activityid']",
                  "item/pfc_notificaciondeliverynumber": "@variables('notificaciondeliverynumber')",
                  "item/statuscode": 470000000
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Conmutador": {
              "runAfter": {},
              "cases": {
                "Caso_Consultas": {
                  "case": "pfc_queries",
                  "actions": {
                    "Queries:_Condición_(Notification_is_Enable)": {
                      "actions": {
                        "Obtener_una_fila_por_id_(Contacte-Solicitant)": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "df10f8f7-f39a-4284-b96c-ce91854e9668"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_2",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "contacts",
                              "recordId": "@outputs('Obtener_una_fila_por_id_(Consultes)')?['body/_pfc_applicantid_value']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Enumerar_filas_(Contactes_relacionats)": {
                          "runAfter": {
                            "Obtener_una_fila_por_id_(Contacte-Solicitant)": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "463ac514-c18d-4887-b2ab-b246ccb0b402"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_2",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "contacts",
                              "fetchXml": "<fetch>\n  <entity name=\"contact\">\n    <attribute name=\"contactid\" />\n    <link-entity name=\"pfc_query_contact\" from=\"contactid\" to=\"contactid\" intersect=\"true\">\n      <filter>\n        <condition attribute=\"pfc_queryid\" operator=\"eq\" value=\"@{outputs('Obtener_una_fila_por_id_(Consultes)')?['body/pfc_queryid']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Consulta:_Aplicar_a_cada_uno_(Contactos-Relacionados)": {
                          "foreach": "@outputs('Enumerar_filas_(Contactes_relacionats)')?['body/value']",
                          "actions": {
                            "Obtener_una_fila_por_id_(Contacte_relacionat)": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "87cd0544-75f8-4e9c-a51c-4e591be7e8c9"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_2",
                                  "operationId": "GetItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "contacts",
                                  "recordId": "@items('Consulta:_Aplicar_a_cada_uno_(Contactos-Relacionados)')?['contactid']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Anexar_a_la_variable_de_cadena_(destinatarios-Contactos_relacionados)": {
                              "runAfter": {
                                "Obtener_una_fila_por_id_(Contacte_relacionat)": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "b6eeea80-fd2e-46f0-943c-bef511237fcd"
                              },
                              "type": "AppendToStringVariable",
                              "inputs": {
                                "name": "Destinatarios",
                                "value": "@{outputs('Obtener_una_fila_por_id_(Contacte_relacionat)')?['body/emailaddress1']}; "
                              }
                            },
                            "Defineix_la_variable_Interesados": {
                              "runAfter": {
                                "Anexar_a_la_variable_de_cadena_(destinatarios-Contactos_relacionados)": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "a2ac5de6-79b7-4b30-962f-c896b76e2fa9"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "Interesados",
                                "value": "@True"
                              }
                            }
                          },
                          "runAfter": {
                            "Enumerar_filas_(Contactes_relacionats)": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "d2b00a4b-2a76-4d56-821f-1c1b3acc3909"
                          },
                          "type": "Foreach"
                        },
                        "Enviar_correo_electrónico_(V2)_-_Solicitant": {
                          "runAfter": {
                            "Consulta:_Aplicar_a_cada_uno_(Contactos-Relacionados)": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "12b4420f-a17a-4a72-9a8b-07ad75c44aae"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_office365",
                              "operationId": "SendEmailV2",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                            },
                            "parameters": {
                              "emailMessage/To": "@outputs('Obtener_una_fila_por_id_(Contacte-Solicitant)')?['body/emailaddress1']",
                              "emailMessage/Subject": "@triggerOutputs()?['body/subject']",
                              "emailMessage/Body": "<p>Bon dia,<br>\n<br>\nJa podeu veure la resposta a la vostra consulta @{outputs('Obtener_una_fila_por_id_(Consultes)')?['body/pfc_name']}.<br>\n<br>\n<br><p><a href=\"@{outputs('Redactar_(enlace)')}\"> Enllaç a la resposta</a></p><br>\nSalutacions.<br>",
                              "emailMessage/Importance": "Normal"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Condició_(Interessat-_Contactos_relacionados)": {
                          "actions": {
                            "Enviar_correo_electrónico_(V2)_(Interesados-Personas_relacionadas)": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "12b4420f-a17a-4a72-9a8b-07ad75c44aae"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_office365",
                                  "operationId": "SendEmailV2",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                                },
                                "parameters": {
                                  "emailMessage/To": "@{variables('Destinatarios')}@{outputs('Obtener_una_fila_por_id_(Consultes)')?['body/pfc_interestedpeople']}",
                                  "emailMessage/Subject": "@triggerOutputs()?['body/subject']",
                                  "emailMessage/Body": "<p>Bon dia,<br>\n<br>\nJa podeu veure la resposta a la vostra consulta @{outputs('Obtener_una_fila_por_id_(Consultes)')?['body/pfc_name']}.<br>\n<br>\n<br><p><a href=\"@{outputs('Redactar_(enlace_interessat)_')}\"> Enllaç a la resposta</a></p><br>\nSalutacions.<br>",
                                  "emailMessage/Importance": "Normal"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {
                            "Enviar_correo_electrónico_(V2)_-_Solicitant": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "or": [
                              {
                                "equals": [
                                  "@variables('Interesados')",
                                  "@True"
                                ]
                              },
                              {
                                "not": {
                                  "equals": [
                                    "@outputs('Obtener_una_fila_por_id_(Consultes)')?['body/pfc_interestedpeople']",
                                    "@null"
                                  ]
                                }
                              }
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "80c3a679-c3f5-4e2c-8fa8-119e97e3911d"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Obtener_una_fila_por_id_(Consultes)": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Enviar_correo_electrónico_(V2)_-_Equipo_de_Desarrollo": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "12b4420f-a17a-4a72-9a8b-07ad75c44aae"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_office365",
                                "operationId": "SendEmailV2",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                              },
                              "parameters": {
                                "emailMessage/To": "@variables('Destinatarios Equipo')",
                                "emailMessage/Subject": "@triggerOutputs()?['body/subject']",
                                "emailMessage/Body": "<p>Bon dia,<br>\n<br>\nJa podeu veure la resposta a la vostra consulta @{outputs('Obtener_una_fila_por_id_(Consultes)')?['body/pfc_name']}.<br>\n<br>\n<br><p><a href=\"@{outputs('Redactar_(enlace)')}\"> Enllaç a la resposta</a></p><br>\nSalutacions.<br>",
                                "emailMessage/Importance": "Normal"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@variables('NotificationIsEnable')",
                          "@true"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1e769871-dcf1-4103-a462-007af487235d"
                      },
                      "type": "If"
                    },
                    "Redactar_(enlace)": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "b69cdcff-94b5-409d-80c4-b5833849a003"
                      },
                      "type": "Compose",
                      "inputs": "@{variables('URL')}/Assist%C3%A8ncia-i-suport/consultes-usuari/"
                    },
                    "Redactar_(enlace_interessat)_": {
                      "runAfter": {
                        "Redactar_(enlace)": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b69cdcff-94b5-409d-80c4-b5833849a003"
                      },
                      "type": "Compose",
                      "inputs": "@{variables('URL')}/Assist%C3%A8ncia-i-suport/consultes-interessat/"
                    },
                    "Obtener_una_fila_por_id_(Consultes)": {
                      "runAfter": {
                        "Redactar_(enlace_interessat)_": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "68810f39-dd7a-40ae-acc6-0811bb8891c1"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_2",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "pfc_queries",
                          "recordId": "@triggerOutputs()?['body/_regardingobjectid_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  }
                },
                "Caso_Consultas_DGT": {
                  "case": "pfc_query_dgts",
                  "actions": {
                    "Redactar_2_(Enlace)": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "b69cdcff-94b5-409d-80c4-b5833849a003"
                      },
                      "type": "Compose",
                      "inputs": "@{variables('URL')}/Assist%C3%A8ncia-i-suport/consultesDGT/"
                    },
                    "Redactar_2_(Enlace_interessat)_": {
                      "runAfter": {
                        "Redactar_2_(Enlace)": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b69cdcff-94b5-409d-80c4-b5833849a003"
                      },
                      "type": "Compose",
                      "inputs": "@{variables('URL')}/Assist%C3%A8ncia-i-suport/consultesDGT-interessat/"
                    },
                    "Obtener_una_fila_por_id_3_(consulta_dgt)": {
                      "runAfter": {
                        "Redactar_2_(Enlace_interessat)_": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "aabcedd5-4b25-4fa3-822c-4e6d62c12d20"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_2",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "pfc_query_dgts",
                          "recordId": "@triggerOutputs()?['body/_regardingobjectid_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Queries:_Condición_(Notification_is_Enable)_2": {
                      "actions": {
                        "Obtener_una_fila_por_id_4_(contacte)": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "13e83324-57a6-495b-b07d-86e8dba88b6a"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_2",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "contacts",
                              "recordId": "@outputs('Obtener_una_fila_por_id_3_(consulta_dgt)')?['body/_pfc_applicantid_value']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Enumerar_filas_2_(Contacte_Relacionats)": {
                          "runAfter": {
                            "Obtener_una_fila_por_id_4_(contacte)": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "4f72b131-d0db-4d94-b02a-75b1fa30293f"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_2",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "contacts",
                              "fetchXml": "<fetch>\n  <entity name=\"contact\">\n    <attribute name=\"contactid\" />\n    <link-entity name=\"pfc_contact_pfc_query_dgt\" from=\"contactid\" to=\"contactid\" intersect=\"true\">\n      <filter>\n        <condition attribute=\"pfc_query_dgtid\" operator=\"eq\" value=\"@{outputs('Obtener_una_fila_por_id_3_(consulta_dgt)')?['body/pfc_query_dgtid']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Consulta_DGT:_Aplicar_a_cada_uno": {
                          "foreach": "@outputs('Enumerar_filas_2_(Contacte_Relacionats)')?['body/value']",
                          "actions": {
                            "Obtener_una_fila_por_id_10_(contacte_relacionat)": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "1b65dfba-259a-4b9f-bce6-2b2f3c96aa44"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_2",
                                  "operationId": "GetItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "contacts",
                                  "recordId": "@items('Consulta_DGT:_Aplicar_a_cada_uno')?['contactid']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Anexar_a_la_variable_de_cadena_2_(destinatarios)": {
                              "runAfter": {
                                "Obtener_una_fila_por_id_10_(contacte_relacionat)": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "69452642-5f35-4d3d-8ac7-51c39f875be0"
                              },
                              "type": "AppendToStringVariable",
                              "inputs": {
                                "name": "Destinatarios",
                                "value": "@{outputs('Obtener_una_fila_por_id_10_(contacte_relacionat)')?['body/emailaddress1']}; "
                              }
                            },
                            "Defineix_la_variable_Interesados_2": {
                              "runAfter": {
                                "Anexar_a_la_variable_de_cadena_2_(destinatarios)": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "a2ac5de6-79b7-4b30-962f-c896b76e2fa9"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "Interesados",
                                "value": "@True"
                              }
                            }
                          },
                          "runAfter": {
                            "Enumerar_filas_2_(Contacte_Relacionats)": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "7c8b9242-56c2-4e41-b6c7-8efb5aebd628"
                          },
                          "type": "Foreach"
                        },
                        "Enviar_correo_electrónico_(V2)-_Solicitant_Consulta_DGT": {
                          "runAfter": {
                            "Consulta_DGT:_Aplicar_a_cada_uno": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "decec240-1938-4bba-a32d-8a212411061f"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_office365",
                              "operationId": "SendEmailV2",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                            },
                            "parameters": {
                              "emailMessage/To": "@outputs('Obtener_una_fila_por_id_4_(contacte)')?['body/emailaddress1']",
                              "emailMessage/Subject": "@triggerOutputs()?['body/subject']",
                              "emailMessage/Body": "<p>Bon dia,<br>\n<br>\nJa podeu veure la resposta a la vostra operacion de transcendència tributaria @{outputs('Obtener_una_fila_por_id_3_(consulta_dgt)')?['body/pfc_name']}.<br>\n<br>\n<br><p><a href=\"@{outputs('Redactar_2_(Enlace)')}\"> Enllaç a la resposta</a></p><br>\nSalutacions.<br>",
                              "emailMessage/Importance": "Normal"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Condició_(Interessat-_Contactos_relacionados)_2": {
                          "actions": {
                            "Enviar_correo_electrónico_(V2)_(Interesados_-Personas_Relacionadas)_Consulta_DGT": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "decec240-1938-4bba-a32d-8a212411061f"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_office365",
                                  "operationId": "SendEmailV2",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                                },
                                "parameters": {
                                  "emailMessage/To": "@{variables('Destinatarios')};@{outputs('Obtener_una_fila_por_id_3_(consulta_dgt)')?['body/pfc_interestedpeople']}",
                                  "emailMessage/Subject": "@triggerOutputs()?['body/subject']",
                                  "emailMessage/Body": "<p>Bon dia,<br>\n<br>\nJa podeu veure la resposta a la vostra operacion de transcendència tributaria @{outputs('Obtener_una_fila_por_id_3_(consulta_dgt)')?['body/pfc_name']}.<br>\n<br>\n<br><p><a href=\"@{outputs('Redactar_2_(Enlace_interessat)_')}\"> Enllaç a la resposta</a></p><br>\nSalutacions.<br>",
                                  "emailMessage/Importance": "Normal"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {
                            "Enviar_correo_electrónico_(V2)-_Solicitant_Consulta_DGT": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "or": [
                              {
                                "equals": [
                                  "@variables('Interesados')",
                                  "@True"
                                ]
                              },
                              {
                                "not": {
                                  "equals": [
                                    "@outputs('Obtener_una_fila_por_id_3_(consulta_dgt)')?['body/pfc_interestedpeople']",
                                    "@null"
                                  ]
                                }
                              }
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "7dd58ffb-b115-4a91-851d-36348f09678e"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Obtener_una_fila_por_id_3_(consulta_dgt)": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Enviar_correo_electrónico_(V2)-_Equipo_Desarrollo_Consulta_DGT_2": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "decec240-1938-4bba-a32d-8a212411061f"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_office365",
                                "operationId": "SendEmailV2",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                              },
                              "parameters": {
                                "emailMessage/To": "@variables('Destinatarios Equipo')",
                                "emailMessage/Subject": "@triggerOutputs()?['body/subject']",
                                "emailMessage/Body": "<p>Bon dia,<br>\n<br>\nJa podeu veure la resposta a la vostra operacion de transcendència tributaria @{outputs('Obtener_una_fila_por_id_3_(consulta_dgt)')?['body/pfc_name']}.<br>\n<br>\n<br><p><a href=\"@{outputs('Redactar_2_(Enlace)')}\"> Enllaç a la resposta</a></p><br>\nSalutacions.<br>",
                                "emailMessage/Importance": "Normal"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@variables('NotificationIsEnable')",
                          "@true"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d52fdcf6-111d-4a3d-8c65-7a64455e9f65"
                      },
                      "type": "If"
                    }
                  }
                },
                "Caso_Operaciones_de_especial_Transcendencia": {
                  "case": "pfc_tax_transcendence_operations",
                  "actions": {
                    "Redactar_3_(Enlace)": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "218cb868-eb2f-4a37-998d-8d4b7c725057"
                      },
                      "type": "Compose",
                      "inputs": "@{variables('URL')}/Assist%C3%A8ncia-i-suport/operacions/"
                    },
                    "Redactar_3_(Enlace_interessat)": {
                      "runAfter": {
                        "Redactar_3_(Enlace)": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "218cb868-eb2f-4a37-998d-8d4b7c725057"
                      },
                      "type": "Compose",
                      "inputs": "@{variables('URL')}/Assist%C3%A8ncia-i-suport/operacions-interessat/"
                    },
                    "Obtener_una_fila_por_id_5_(OET)": {
                      "runAfter": {
                        "Redactar_3_(Enlace_interessat)": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0d1d8f28-8db1-452c-90c3-64057f1c6dea"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_2",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "pfc_tax_transcendence_operations",
                          "recordId": "@triggerOutputs()?['body/_regardingobjectid_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Queries:_Condición_(Notification_is_Enable)_3": {
                      "actions": {
                        "Obtener_una_fila_por_id_6_(contacte)": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "65aa27e9-5131-4a61-89da-8da1495f6978"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_2",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "contacts",
                              "recordId": "@outputs('Obtener_una_fila_por_id_5_(OET)')?['body/_pfc_applicantid_value']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Enumerar_filas_3_(contacte_relacionats)": {
                          "runAfter": {
                            "Obtener_una_fila_por_id_6_(contacte)": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "5efa2ba6-3dc4-4902-9c86-65d963eb11c9"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_2",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "contacts",
                              "fetchXml": "<fetch>\n  <entity name=\"contact\">\n    <attribute name=\"contactid\" />\n    <link-entity name=\"pfc_tax_transcendence_operation_contact\" from=\"contactid\" to=\"contactid\" intersect=\"true\">\n      <filter>\n        <condition attribute=\"pfc_tax_transcendence_operationid\" operator=\"eq\" value=\"@{outputs('Obtener_una_fila_por_id_5_(OET)')?['body/pfc_tax_transcendence_operationid']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "OET:_Aplicar_a_cada_uno": {
                          "foreach": "@outputs('Enumerar_filas_3_(contacte_relacionats)')?['body/value']",
                          "actions": {
                            "Obtener_una_fila_por_id_11_(contacte_relacionat)": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "f934f47c-ef2f-4a97-bc43-4a4d562b8afc"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_2",
                                  "operationId": "GetItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "contacts",
                                  "recordId": "@items('OET:_Aplicar_a_cada_uno')?['contactid']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Anexar_a_la_variable_de_cadena_3_(Destinatarios)": {
                              "runAfter": {
                                "Obtener_una_fila_por_id_11_(contacte_relacionat)": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "eda69c1c-5a45-4250-9edf-b0824d92c9bb"
                              },
                              "type": "AppendToStringVariable",
                              "inputs": {
                                "name": "Destinatarios",
                                "value": "@{outputs('Obtener_una_fila_por_id_11_(contacte_relacionat)')?['body/emailaddress1']}; "
                              }
                            },
                            "Defineix_la_variable_Interesados_3": {
                              "runAfter": {
                                "Anexar_a_la_variable_de_cadena_3_(Destinatarios)": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "a2ac5de6-79b7-4b30-962f-c896b76e2fa9"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "Interesados",
                                "value": "@True"
                              }
                            }
                          },
                          "runAfter": {
                            "Enumerar_filas_3_(contacte_relacionats)": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "c605e291-e607-4102-8038-6bd1563eef5f"
                          },
                          "type": "Foreach"
                        },
                        "Enviar_correo_electrónico_(V2)_OET-_Solicitant": {
                          "runAfter": {
                            "OET:_Aplicar_a_cada_uno": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "fd25b842-f570-494c-abbf-13d2fa6ee3a7"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_office365",
                              "operationId": "SendEmailV2",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                            },
                            "parameters": {
                              "emailMessage/To": "@outputs('Obtener_una_fila_por_id_6_(contacte)')?['body/emailaddress1']",
                              "emailMessage/Subject": "@triggerOutputs()?['body/subject']",
                              "emailMessage/Body": "<p>Bon dia,<br>\n<br>\nJa podeu veure la resposta a la vostra operacion de transcendència tributaria @{outputs('Obtener_una_fila_por_id_5_(OET)')?['body/pfc_name']}.<br>\n<br>\n<br><p><a href=\"@{outputs('Redactar_3_(Enlace)')}\"> Enllaç a la resposta</a></p><br>\nSalutacions.<br>",
                              "emailMessage/Importance": "Normal"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Condició_2": {
                          "actions": {
                            "Enviar_correo_electrónico_(V2)": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "fd25b842-f570-494c-abbf-13d2fa6ee3a7"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_office365",
                                  "operationId": "SendEmailV2",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                                },
                                "parameters": {
                                  "emailMessage/To": "@{variables('Destinatarios')};@{outputs('Obtener_una_fila_por_id_5_(OET)')?['body/pfc_interestedpeople']}",
                                  "emailMessage/Subject": "@triggerOutputs()?['body/subject']",
                                  "emailMessage/Body": "<p>Bon dia,<br>\n<br>\nJa podeu veure la resposta a la vostra operacion de transcendència tributaria @{outputs('Obtener_una_fila_por_id_5_(OET)')?['body/pfc_name']}.<br>\n<br>\n<br><p><a href=\"@{outputs('Redactar_3_(Enlace_interessat)')}\"> Enllaç a la resposta</a></p><br>\nSalutacions.<br>",
                                  "emailMessage/Importance": "Normal"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {
                            "Enviar_correo_electrónico_(V2)_OET-_Solicitant": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "or": [
                              {
                                "equals": [
                                  "@variables('Interesados')",
                                  "@True"
                                ]
                              },
                              {
                                "not": {
                                  "equals": [
                                    "@outputs('Obtener_una_fila_por_id_5_(OET)')?['body/pfc_interestedpeople']",
                                    "@null"
                                  ]
                                }
                              }
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "c3cdd8e1-bc4e-4e19-9a3d-ea655c33ba90"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Obtener_una_fila_por_id_5_(OET)": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Enviar_correo_electrónico_(V2)_OET-_Equipo_Desarrollo": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "fd25b842-f570-494c-abbf-13d2fa6ee3a7"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_office365",
                                "operationId": "SendEmailV2",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                              },
                              "parameters": {
                                "emailMessage/To": "@variables('Destinatarios Equipo')",
                                "emailMessage/Subject": "@triggerOutputs()?['body/subject']",
                                "emailMessage/Body": "<p>Bon dia,<br>\n<br>\nJa podeu veure la resposta a la vostra operacion de transcendència tributaria @{outputs('Obtener_una_fila_por_id_5_(OET)')?['body/pfc_name']}.<br>\n<br>\n<br><p><a href=\"@{outputs('Redactar_3_(Enlace)')}\"> Enllaç a la resposta</a></p><br>\nSalutacions.<br>",
                                "emailMessage/Importance": "Normal"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@variables('NotificationIsEnable')",
                          "@true"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "5338dc61-610b-4e6d-9c1c-7c8e766863dd"
                      },
                      "type": "If"
                    }
                  }
                },
                "Caso_Solicitud_de_Formacion": {
                  "case": "pfc_trainingrequests",
                  "actions": {
                    "Ámbito_Solicitudes_de_formacion": {
                      "actions": {
                        "Redactar_4_(enlace)": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "f62c9838-033b-4b38-bc0a-3d91afdf5e1f"
                          },
                          "type": "Compose",
                          "inputs": "@{variables('URL')}/Formaci%C3%B3/formacions/formation-requests/"
                        },
                        "Obtener_una_fila_por_id_7_(solicitud_d'formació)": {
                          "runAfter": {
                            "Redactar_4_(enlace)": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "585cf4c7-ad16-4bee-b846-9c012e2bd1c1"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_2",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "pfc_trainingrequests",
                              "recordId": "@triggerOutputs()?['body/_regardingobjectid_value']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Queries:_Condición_(Notification_is_Enable)_4": {
                          "actions": {
                            "Obtener_una_fila_por_id_8_(Contacte)": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "9641bbf9-d6e1-4ece-9b9e-45e324ebd077"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_2",
                                  "operationId": "GetItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "contacts",
                                  "recordId": "@outputs('Obtener_una_fila_por_id_7_(solicitud_d''formació)')?['body/_pfc_contactid_value']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Enviar_correo_electrónico_(V2)_4": {
                              "runAfter": {
                                "Obtener_una_fila_por_id_8_(Contacte)": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "c02389ce-a227-4d00-8d7d-458d991ff00d"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_office365",
                                  "operationId": "SendEmailV2",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                                },
                                "parameters": {
                                  "emailMessage/To": "@outputs('Obtener_una_fila_por_id_8_(Contacte)')?['body/emailaddress1']",
                                  "emailMessage/Subject": "@triggerOutputs()?['body/subject']",
                                  "emailMessage/Body": "<p>Bon dia,<br>\n<br>\nJa podeu veure la resposta a la vostra operacion de transcendència tributaria @{outputs('Obtener_una_fila_por_id_7_(solicitud_d''formació)')?['body/pfc_name']}.<br>\n<br>\n<br><p><a href=\"@{outputs('Redactar_4_(enlace)')}\"> Enllaç a la resposta</a></p><br>\nSalutacions.<br>",
                                  "emailMessage/Cc": "@variables('Destinatarios')",
                                  "emailMessage/Importance": "Normal"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {
                            "Obtener_una_fila_por_id_7_(solicitud_d'formació)": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Enviar_correo_electrónico_(V2)_-_Equipo_Desarrollo": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "c02389ce-a227-4d00-8d7d-458d991ff00d"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_office365",
                                    "operationId": "SendEmailV2",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                                  },
                                  "parameters": {
                                    "emailMessage/To": "@variables('Destinatarios Equipo')",
                                    "emailMessage/Subject": "@triggerOutputs()?['body/subject']",
                                    "emailMessage/Body": "<p>Bon dia,<br>\n<br>\nJa podeu veure la resposta a la vostra operacion de transcendència tributaria @{outputs('Obtener_una_fila_por_id_7_(solicitud_d''formació)')?['body/pfc_name']}.<br>\n<br>\n<br><p><a href=\"@{outputs('Redactar_4_(enlace)')}\"> Enllaç a la resposta</a></p><br>\nSalutacions.<br>",
                                    "emailMessage/Cc": "@variables('Destinatarios')",
                                    "emailMessage/Importance": "Normal"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              }
                            }
                          },
                          "expression": {
                            "equals": [
                              "@variables('NotificationIsEnable')",
                              "@true"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "9cd3214e-9cab-4016-b0af-e17c90d49dfb"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "76f48fbf-46d5-495d-8690-3e1fedd5a6bc"
                      },
                      "type": "Scope"
                    }
                  }
                }
              },
              "default": {
                "actions": {}
              },
              "expression": "@triggerOutputs()?['body/_regardingobjectid_type']",
              "metadata": {
                "operationMetadataId": "167f3405-264b-4aa7-8406-a053f7cfadcc"
              },
              "type": "Switch"
            }
          },
          "runAfter": {
            "Ámbito_Equipos": [
              "Succeeded"
            ]
          },
          "expression": {
            "less": [
              "@variables('notificaciondeliverynumber')",
              1
            ]
          },
          "metadata": {
            "operationMetadataId": "95c4890f-28e8-471a-ba04-02753a007f0a"
          },
          "type": "If"
        },
        "Inicializar_variable_NotificationIsEnable": {
          "runAfter": {
            "Inicializar_variable_URL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7480c7b9-3e6e-48c5-a925-322fbf9d2b7c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NotificationIsEnable",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Inicializar_variable_(Destinatarios_Equipo)": {
          "runAfter": {
            "Inicializar_variable_(Destinatarios)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "85e13893-278c-4bd8-a9f7-f8f67910fdfb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Destinatarios Equipo",
                "type": "string"
              }
            ]
          }
        },
        "Ámbito_Equipos": {
          "actions": {
            "Enumerar_filas_de_Equipos": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c6426afd-c245-4bb2-b4f0-d410358cd2d8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "teams",
                  "$filter": "name eq 'Equip de desenvolupament'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Aplicar_a_cada_Equipo": {
              "foreach": "@outputs('Enumerar_filas_de_Equipos')?['body/value']",
              "actions": {
                "Enumerar_Miembros_del_Equipo_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "6666a525-770c-473f-98df-37050300ce66"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "systemusers",
                      "$select": "internalemailaddress",
                      "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"true\">\n<entity name=\"systemuser\">\n<link-entity name=\"teammembership\" from=\"systemuserid\" to=\"systemuserid\">\n<link-entity name=\"team\" from=\"teamid\" to=\"teamid\" alias=\"ac\">\n<filter type=\"and\">\n<condition attribute=\"teamid\" operator=\"eq\" value=\"@{items('Aplicar_a_cada_Equipo')?['teamid']}\"/>\n</filter>\n</link-entity>\n</link-entity>\n</entity>\n</fetch>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Aplicar_a_cada_uno_4": {
                  "foreach": "@outputs('Enumerar_Miembros_del_Equipo_2')?['body/value']",
                  "actions": {
                    "Anexar_a_la_variable_de_cadena_(Destinatarios-Equipo)": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "b6eeea80-fd2e-46f0-943c-bef511237fcd"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "Destinatarios Equipo",
                        "value": "@{items('Aplicar_a_cada_uno_4')?['internalemailaddress']}; "
                      }
                    }
                  },
                  "runAfter": {
                    "Enumerar_Miembros_del_Equipo_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1126c52a-29d9-4ac7-84c1-6cb1812b0ea1"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Enumerar_filas_de_Equipos": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d1509b21-c566-40cb-a64a-82e3e21001df"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Ámbito_Configuració_del_lloc": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "629e364c-6e02-4b98-961e-7e08b4236f79"
          },
          "type": "Scope"
        },
        "Ámbito_Configuració_del_lloc": {
          "actions": {
            "Obtener_Configuració_del_lloc_-_URL": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f0352cc2-4616-468d-be03-6543681c5a1a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "adx_sitesettings",
                  "$filter": "adx_name eq 'Portal/EnvioMail'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Aplicar_a_cada_Configuració_del_lloc": {
              "foreach": "@outputs('Obtener_Configuració_del_lloc_-_URL')?['body/value']",
              "actions": {
                "Establecer_variable_(URL)": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "55c17372-aa44-43b1-a78f-3a9c9615c99c"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "URL",
                    "value": "@items('Aplicar_a_cada_Configuració_del_lloc')?['adx_value']"
                  }
                }
              },
              "runAfter": {
                "Obtener_Configuració_del_lloc_-_URL": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "484194b0-3893-4fa0-928b-38d17fd3f8b9"
              },
              "type": "Foreach"
            },
            "Obtener_Configuració_del_lloc_-_(Notificaciones_Activas)": {
              "runAfter": {
                "Aplicar_a_cada_Configuració_del_lloc": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "fdd292e2-4dfc-4b1e-9a4b-514e765e98c2"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "adx_sitesettings",
                  "$select": "adx_name, adx_value",
                  "$filter": "adx_name eq 'PowerAutomate/Notifications'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Aplicar_a_cada_Configuració_del_lloc_-_(Notificaciones_Activas)": {
              "foreach": "@outputs('Obtener_Configuració_del_lloc_-_(Notificaciones_Activas)')?['body/value']",
              "actions": {
                "Condición": {
                  "actions": {
                    "Notification_is_Enable": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "f5415e6c-e359-497d-a8e4-d49164d74554"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "NotificationIsEnable",
                        "value": "@true"
                      }
                    }
                  },
                  "runAfter": {},
                  "expression": {
                    "contains": [
                      "@items('Aplicar_a_cada_Configuració_del_lloc_-_(Notificaciones_Activas)')?['adx_value']",
                      "Si"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a9b14843-1a1c-494d-9924-d419f6a1ecbf"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Obtener_Configuració_del_lloc_-_(Notificaciones_Activas)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7965cf42-d5e9-40f8-844d-0d934ce84bd0"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Inicialitza_la_variable_Interesados": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a76d6398-95fb-4be1-93b7-e3bf5226c703"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}