Solution/Unpacked/pfc_PFCDataModel/Workflows/SendEmailWhenQueryDGTIsCreated-C5C961E6-7D0F-EE11-8F6D-002248A1C671.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedcommondataserviceforapps_55452"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedoffice365_2d413"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Cuando_se_agrega,_modifica_o_elimina_una_fila": {
          "metadata": {
            "operationMetadataId": "5bccdc4c-c171-4a42-9d59-f42feea74a35"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "pfc_query_dgt",
              "subscriptionRequest/scope": 2
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "PersonasRelacionadas:_Inicializar_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6cf63d64-d85f-4648-a663-e15521296090"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ContactesInteresats",
                "type": "string"
              }
            ]
          }
        },
        "Inicializar_variable_NotificationIsEnable": {
          "runAfter": {
            "PersonasRelacionadas:_Inicializar_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "63b0f639-de3a-482a-a967-94af309fba96"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NotificationIsEnable",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Inicializar_variable_(Destinatarios_Equipo)": {
          "runAfter": {
            "Inicializar_variable_NotificationIsEnable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "85e13893-278c-4bd8-a9f7-f8f67910fdfb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Destinatarios Equipo",
                "type": "string"
              }
            ]
          }
        },
        "Àmbit_Equipos": {
          "actions": {
            "Enumera_les_files_Equipos": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e27431ba-cdc6-48c7-83e2-332384849583"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "teams",
                  "$filter": "name eq 'Equip de desenvolupament'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_Equipo": {
              "foreach": "@outputs('Enumera_les_files_Equipos')?['body/value']",
              "actions": {
                "Enumera_los_miembros_del_Equipo": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "3fb7080a-0cda-4c67-892b-4c6e53edd802"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "systemusers",
                      "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"true\">\n<entity name=\"systemuser\">\n<link-entity name=\"teammembership\" from=\"systemuserid\" to=\"systemuserid\">\n<link-entity name=\"team\" from=\"teamid\" to=\"teamid\" alias=\"ac\">\n<filter type=\"and\">\n<condition attribute=\"teamid\" operator=\"eq\" value=\"@{items('Apply_to_each_Equipo')?['teamid']}\"/>\n</filter>\n</link-entity>\n</link-entity>\n</entity>\n</fetch>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Aplicar_a_cada_miembro_del_Equipo": {
                  "foreach": "@outputs('Enumera_los_miembros_del_Equipo')?['body/value']",
                  "actions": {
                    "Annexa-ho_a_la_variable_Destinatarios_Equipo": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "0f8fcc28-20f6-42c7-ae14-b613afed3789"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "Destinatarios Equipo",
                        "value": "@{items('Aplicar_a_cada_miembro_del_Equipo')?['internalemailaddress']};"
                      }
                    }
                  },
                  "runAfter": {
                    "Enumera_los_miembros_del_Equipo": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c2945385-55f9-44bc-9f3f-c0b8c9b5ef48"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Enumera_les_files_Equipos": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d0503a82-407b-4674-b6a2-427b65a82eb4"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Inicializar_variable_(Destinatarios_Equipo)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "305c8e5b-92bb-4f6f-bb14-960d51636635"
          },
          "type": "Scope"
        },
        "Àmbit_Configuració_del_Lloc": {
          "actions": {
            "Obtener_Configuració_del_lloc_-_(Notificaciones_Activas)": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "57e3c392-2ccc-4ec5-b741-2d91ed31a6d3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "adx_sitesettings",
                  "$select": "adx_name, adx_value",
                  "$filter": "adx_name eq 'PowerAutomate/Notifications'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_Configuració_del_lloc_-_(Notificaciones_Activas)": {
              "foreach": "@outputs('Obtener_Configuració_del_lloc_-_(Notificaciones_Activas)')?['body/value']",
              "actions": {
                "Condició": {
                  "actions": {
                    "Defineix_la_variable_NotificationsIsEnable": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "9b643c05-4457-482a-8aa4-97b9e7298f99"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "NotificationIsEnable",
                        "value": "@true"
                      }
                    }
                  },
                  "runAfter": {},
                  "expression": {
                    "contains": [
                      "@items('Apply_to_each_Configuració_del_lloc_-_(Notificaciones_Activas)')?['adx_value']",
                      "Si"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a9fae32f-3cc0-4664-9c27-d9731423568e"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Obtener_Configuració_del_lloc_-_(Notificaciones_Activas)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f87862ad-ad06-49bd-9a33-534fe240451e"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Àmbit_Equipos": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "74481d2f-3780-4a1b-af10-ef7f0d280318"
          },
          "type": "Scope"
        },
        "Condició_Notifications_Is_Enable": {
          "actions": {
            "Obtener_Solicitant_(Contacte)": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "eb00303e-48ad-45c2-aca5-3709fdf087d7"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@triggerOutputs()?['body/_pfc_applicantid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Enumerar_Contacte_Relacionats": {
              "runAfter": {
                "Obtener_Solicitant_(Contacte)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "51a1179c-4380-4e6d-8758-b6c6d5b4bea9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "fetchXml": "<fetch>\n  <entity name=\"contact\">\n    <attribute name=\"contactid\" />\n    <link-entity name=\"pfc_contact_pfc_query_dgt\" from=\"contactid\" to=\"contactid\" intersect=\"true\">\n      <filter>\n        <condition attribute=\"pfc_query_dgtid\" operator=\"eq\" value=\"@{triggerOutputs()?['body/pfc_query_dgtid']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Enviar_correo_electrónico_(V2)": {
              "runAfter": {
                "Aplicar_a_cada_Contacto_Relacionado": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d83a5025-57da-4d00-9724-2f323757c0ab"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@outputs('Obtener_Solicitant_(Contacte)')?['body/emailaddress1']",
                  "emailMessage/Subject": "Consulta DGT @{triggerOutputs()?['body/pfc_name']} creat",
                  "emailMessage/Body": "<p>Benvolgut/da<br>\n<br>\nUs informem que heu plantejat una consulta tributària a l’Àrea de Política Fiscal Corporativa, amb referència @{triggerOutputs()?['body/pfc_name']}.<br>\n<br>\nDes del vostre portal podeu enviar-nos la informació addicional que considereu convenient.<br>\n<br>\nSi us han informat com a persona interessada, podeu fer el seguiment de la consulta a l’apartat “Consultes on soc interessat”.<br>\n<br>\nPer a qualsevol dubte, us demanem, si us plau, contesteu aquest correu o ens envieu un correu electrònic a: fiscalitat.corporativa@gencat.cat respectant l’assumpte del present correu.<br>\n<br>\nSalutacions,<br>\n<br>\n<br>\nÀrea de Política Fiscal Corporativa<br>\nDirecció General de Tributs i Joc<br>\nSecretaria d’Hisenda<br>\n<br>\nDistricte administratiu - Carrer Foc, 57 | 08038 Barcelona |<br>\n<a href=\"fiscalitat.corporativa@gencat.cat\">fiscalitat.corporativa@gencat.cat</a> &nbsp;| <a href=\"http://economia.gencat.cat\">http://economia.gencat.cat</a>&nbsp;</p>",
                  "emailMessage/Cc": "@{variables('ContactesInteresats')}@{triggerOutputs()?['body/pfc_interestedpeople']}",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Aplicar_a_cada_Contacto_Relacionado": {
              "foreach": "@outputs('Enumerar_Contacte_Relacionats')?['body/value']",
              "actions": {
                "Annexa-ho_a_la_variable_de_la_cadena": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "6d109fe5-c370-4cc5-a779-2e14f8ade3f6"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "ContactesInteresats",
                    "value": "@{items('Aplicar_a_cada_Contacto_Relacionado')?['emailaddress1']};"
                  }
                }
              },
              "runAfter": {
                "Enumerar_Contacte_Relacionats": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f24add0f-9b8b-42ad-82c3-f869b047261e"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Àmbit_Configuració_del_Lloc": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Enviar_correo_electrónico_(V2)_2": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "d83a5025-57da-4d00-9724-2f323757c0ab"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_office365",
                    "operationId": "SendEmailV2",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                  },
                  "parameters": {
                    "emailMessage/To": "@variables('Destinatarios Equipo')",
                    "emailMessage/Subject": "Consulta DGT @{triggerOutputs()?['body/pfc_name']} creat",
                    "emailMessage/Body": "<p>Benvolgut/da<br>\n<br>\nUs informem que heu plantejat una consulta tributària a l’Àrea de Política Fiscal Corporativa, amb referència @{triggerOutputs()?['body/pfc_name']}.<br>\n<br>\nDes del vostre portal podeu enviar-nos la informació addicional que considereu convenient.<br>\n<br>\nSi us han informat com a persona interessada, podeu fer el seguiment de la consulta a l’apartat “Consultes on soc interessat”.<br>\n<br>\nPer a qualsevol dubte, us demanem, si us plau, contesteu aquest correu o ens envieu un correu electrònic a: fiscalitat.corporativa@gencat.cat respectant l’assumpte del present correu.<br>\n<br>\nSalutacions,<br>\n<br>\n<br>\nÀrea de Política Fiscal Corporativa<br>\nDirecció General de Tributs i Joc<br>\nSecretaria d’Hisenda<br>\n<br>\nDistricte administratiu - Carrer Foc, 57 | 08038 Barcelona |<br>\nfiscalitat.corporativa@gencat.cat &nbsp;| http://economia.gencat.cat&nbsp;</p>",
                    "emailMessage/Importance": "Normal"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@variables('NotificationIsEnable')",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "c6dd009e-eb46-4ff3-9adb-5c14625c466b"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}