Solution/Unpacked/pfc_PFCDataModel/Workflows/WhenPortasignaturaDocumentIsAddedCopyFilesToSharep-3EF3BD80-D709-EE11-8F6E-000D3ADF90AA.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedcommondataserviceforapps_55452"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedsharepointonline_c963a"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SharepointSite (pfc_sharepointsite)": {
          "defaultValue": "https://gencat.sharepoint.com/sites/MPFCTest",
          "type": "String",
          "metadata": {
            "schemaName": "pfc_sharepointsite"
          }
        }
      },
      "triggers": {
        "Cuando_se_agrega,_modifica_o_elimina_una_fila": {
          "metadata": {
            "operationMetadataId": "9d08a77b-d5e4-4b84-bcb5-0b48a1448cfe"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "annotation",
              "subscriptionRequest/scope": 2
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condici칩n": {
          "actions": {
            "Conmutador": {
              "runAfter": {
                "Portasignatures:_Obtener_una_fila_por_id": [
                  "Succeeded"
                ]
              },
              "cases": {
                "Caso": {
                  "case": "pfc_query",
                  "actions": {
                    "Consulte:_Obtener_una_fila_por_id_de_referent_a_activitat": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "4922c085-c631-450a-a9aa-5f556e5a75c8"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "pfc_queries",
                          "recordId": "@outputs('Portasignatures:_Obtener_una_fila_por_id')?['body/_regardingobjectid_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Entitat:_Obtener_una_fila_por_id_de_entitat_en_Consulta": {
                      "runAfter": {
                        "Consulte:_Obtener_una_fila_por_id_de_referent_a_activitat": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4a431f34-72ed-44c4-b007-ea5846766b75"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "accounts",
                          "recordId": "@outputs('Consulte:_Obtener_una_fila_por_id_de_referent_a_activitat')?['body/_pfc_accountid_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Crear_archivo_en_el_sharepoint": {
                      "runAfter": {
                        "Entitat:_Obtener_una_fila_por_id_de_entitat_en_Consulta": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "5539f2c6-14e4-4d75-948d-989bcc878493"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "CreateFile",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "@parameters('SharepointSite (pfc_sharepointsite)')",
                          "folderPath": "/account/@{outputs('Entitat:_Obtener_una_fila_por_id_de_entitat_en_Consulta')?['body/name']}/@{outputs('Portasignatures:_Obtener_una_fila_por_id')?['body/_regardingobjectid_value@Microsoft.Dynamics.CRM.lookuplogicalname']}/@{outputs('Consulte:_Obtener_una_fila_por_id_de_referent_a_activitat')?['body/pfc_name']}/Documents de treball",
                          "name": "@triggerOutputs()?['body/filename']",
                          "body": "@base64ToBinary(triggerOutputs()?['body/documentbody'])"
                        },
                        "authentication": "@parameters('$authentication')"
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      }
                    }
                  }
                },
                "Caso_2": {
                  "case": "pfc_tax_transcendence_operation",
                  "actions": {
                    "OET:_Obtener_una_fila_por_id_de_referent_a_activitat": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "f78e9dfc-041f-4ef8-b86e-85aa79045083"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "pfc_tax_transcendence_operations",
                          "recordId": "@outputs('Portasignatures:_Obtener_una_fila_por_id')?['body/_regardingobjectid_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Entitat:_Obtener_una_fila_por_id_de_entitat_en_OET": {
                      "runAfter": {
                        "OET:_Obtener_una_fila_por_id_de_referent_a_activitat": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2f532266-e4c4-46c0-9a71-e795f41b8047"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "accounts",
                          "recordId": "@outputs('OET:_Obtener_una_fila_por_id_de_referent_a_activitat')?['body/_pfc_accountid_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Crear_archivo": {
                      "runAfter": {
                        "Entitat:_Obtener_una_fila_por_id_de_entitat_en_OET": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b0dbf7d5-6188-4e37-b9af-d677ad4ca65a"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "CreateFile",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "@parameters('SharepointSite (pfc_sharepointsite)')",
                          "folderPath": "/account/@{outputs('Entitat:_Obtener_una_fila_por_id_de_entitat_en_OET')?['body/name']}/@{outputs('Portasignatures:_Obtener_una_fila_por_id')?['body/_regardingobjectid_value@Microsoft.Dynamics.CRM.lookuplogicalname']}/@{outputs('OET:_Obtener_una_fila_por_id_de_referent_a_activitat')?['body/pfc_name']}/Documents de treball",
                          "name": "@triggerOutputs()?['body/filename']",
                          "body": "@base64ToBinary(triggerOutputs()?['body/documentbody'])"
                        },
                        "authentication": "@parameters('$authentication')"
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      }
                    }
                  }
                },
                "Caso_3": {
                  "case": "msevtmgt_checkin",
                  "actions": {
                    "Registre_de_entrada:_Obtener_una_fila_por_id_de_referent_a_activitat": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "a0bbcc36-ee5b-41f0-8dd7-2cd98a6d0107"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "msevtmgt_checkins",
                          "recordId": "@outputs('Portasignatures:_Obtener_una_fila_por_id')?['body/_regardingobjectid_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Curs:_Obtener_una_fila_por_id": {
                      "runAfter": {
                        "Registre_de_entrada:_Obtener_una_fila_por_id_de_referent_a_activitat": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "bf060e3d-bacc-475d-9174-02fcd7a4517b"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "msevtmgt_events",
                          "recordId": "@outputs('Registre_de_entrada:_Obtener_una_fila_por_id_de_referent_a_activitat')?['body/_msevtmgt_event_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Crear_archivo_2": {
                      "runAfter": {
                        "Curs:_Obtener_una_fila_por_id": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "748aa3e4-46bf-488e-8f82-9a26cf06d41a"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "CreateFile",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "@parameters('SharepointSite (pfc_sharepointsite)')",
                          "folderPath": "/pfc_course/@{outputs('Curs:_Obtener_una_fila_por_id')?['body/msevtmgt_name']}",
                          "name": "@triggerOutputs()?['body/filename']",
                          "body": "@base64ToBinary(triggerOutputs()?['body/documentbody'])"
                        },
                        "authentication": "@parameters('$authentication')"
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      }
                    },
                    "Obtener_propiedades_del_archivo": {
                      "runAfter": {
                        "Crear_archivo_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f04f8a5e-d815-4ce0-ac77-b7a3e6be384c"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "GetFileItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "@parameters('SharepointSite (pfc_sharepointsite)')",
                          "table": "9fd0dfae-21e3-4142-8228-9ba134dcaf50",
                          "id": "@outputs('Crear_archivo_2')?['body/ItemId']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "An치lisis_del_archivo_JSON": {
                      "runAfter": {
                        "Obtener_propiedades_del_archivo": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "39e8f736-8d8b-4143-88a3-06c9443e538f"
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Obtener_propiedades_del_archivo')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "@@odata.etag": {
                              "type": "string"
                            },
                            "ItemInternalId": {
                              "type": "string"
                            },
                            "ID": {
                              "type": "integer"
                            },
                            "Modified": {
                              "type": "string"
                            },
                            "Editor": {
                              "type": "object",
                              "properties": {
                                "@@odata.type": {
                                  "type": "string"
                                },
                                "Claims": {
                                  "type": "string"
                                },
                                "DisplayName": {
                                  "type": "string"
                                },
                                "Email": {
                                  "type": "string"
                                },
                                "Picture": {
                                  "type": "string"
                                },
                                "Department": {
                                  "type": "string"
                                },
                                "JobTitle": {
                                  "type": "string"
                                }
                              }
                            },
                            "Editor#Claims": {
                              "type": "string"
                            },
                            "MediaServiceImageTags": {
                              "type": "array"
                            },
                            "MediaServiceImageTags@odata.type": {
                              "type": "string"
                            },
                            "MediaServiceImageTags#WssId": {
                              "type": "array"
                            },
                            "MediaServiceImageTags#WssId@odata.type": {
                              "type": "string"
                            },
                            "Created": {
                              "type": "string"
                            },
                            "Author": {
                              "type": "object",
                              "properties": {
                                "@@odata.type": {
                                  "type": "string"
                                },
                                "Claims": {
                                  "type": "string"
                                },
                                "DisplayName": {
                                  "type": "string"
                                },
                                "Email": {
                                  "type": "string"
                                },
                                "Picture": {
                                  "type": "string"
                                },
                                "Department": {},
                                "JobTitle": {}
                              }
                            },
                            "Author#Claims": {
                              "type": "string"
                            },
                            "OData__DisplayName": {
                              "type": "string"
                            },
                            "{Identifier}": {
                              "type": "string"
                            },
                            "{IsFolder}": {
                              "type": "boolean"
                            },
                            "{Thumbnail}": {
                              "type": "object",
                              "properties": {
                                "Large": {
                                  "type": "string"
                                },
                                "Medium": {
                                  "type": "string"
                                },
                                "Small": {
                                  "type": "string"
                                }
                              }
                            },
                            "{Link}": {
                              "type": "string"
                            },
                            "{Name}": {
                              "type": "string"
                            },
                            "{FilenameWithExtension}": {
                              "type": "string"
                            },
                            "{Path}": {
                              "type": "string"
                            },
                            "{FullPath}": {
                              "type": "string"
                            },
                            "{IsCheckedOut}": {
                              "type": "boolean"
                            },
                            "{VersionNumber}": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "Actualizar_una_fila": {
                      "runAfter": {
                        "An치lisis_del_archivo_JSON": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "59902876-d138-4d1f-8eee-74926cfe43f8"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "msevtmgt_checkins",
                          "recordId": "@outputs('Registre_de_entrada:_Obtener_una_fila_por_id_de_referent_a_activitat')?['body/msevtmgt_checkinid']",
                          "item/pfc_certificatedurl": "@body('An치lisis_del_archivo_JSON')?['{Link}']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {}
              },
              "expression": "@outputs('Portasignatures:_Obtener_una_fila_por_id')?['body/_regardingobjectid_value@Microsoft.Dynamics.CRM.lookuplogicalname']",
              "metadata": {
                "operationMetadataId": "5e0b03c4-3142-4d7b-991f-38a3fbd3cc13"
              },
              "type": "Switch"
            },
            "Portasignatures:_Obtener_una_fila_por_id": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "36eae392-383d-4598-afdf-e661701aab34"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "pfc_portasignatureses",
                  "recordId": "@triggerOutputs()?['body/_objectid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/isdocument']",
                  "@true"
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/_objectid_value@Microsoft.Dynamics.CRM.lookuplogicalname']",
                  "pfc_portasignatures"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "b002a624-5108-4f18-859d-7bac3e5f052c"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}