Solution/Unpacked/pfc_PFCDataModel/Workflows/WhenSendedQueryIsClosedCreateReceivedResponse-C8E2EFAE-20CA-ED11-B596-000D3ADF727D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedcommondataserviceforapps_55452"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataservice_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedcommondataservice_214d2"
        },
        "api": {
          "name": "shared_commondataservice"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Cuando_se_modifica_una_fila": {
          "metadata": {
            "operationMetadataId": "fb2bb150-d156-4b30-8be2-d4361d5e0241"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataservice_1",
              "operationId": "SubscribeOnUpdatedItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
            },
            "parameters": {
              "dataset": "default.cds",
              "table": "pfc_sentqueries",
              "scope": "Business unit",
              "subscriptionRequest/AttributeFilters": [
                "statuscode"
              ]
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Consulta_DGT:_Obtener_una_fila_por_id_de_referent": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1c2da28a-7647-4a05-8213-7fbdc853ccc0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "pfc_query_dgts",
              "recordId": "@triggerOutputs()?['body/_regardingobjectid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condición_statecode_=_Inactiu": {
          "actions": {
            "Consulta_DGT:_Actualizar_una_fila": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "93735130-7939-4ca1-9452-27509057165a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "pfc_query_dgts",
                  "recordId": "@outputs('Consulta_DGT:_Obtener_una_fila_por_id_de_referent')?['body/pfc_query_dgtid']",
                  "item/pfc_registercode": "@triggerOutputs()?['body/pfc_registercode']",
                  "item/statuscode": 470000003,
                  "item/pfc_presentationdatedgt": "@triggerOutputs()?['body/pfc_presentationdatedgt']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Justificant_de_resposta:_Agregar_una_fila_nueva": {
              "runAfter": {
                "Consulta_DGT:_Actualizar_una_fila": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bcdccf1f-1634-4530-bfab-3ecf6377b054"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "pfc_receivedresponses",
                  "item/subject": "@{outputs('Consulta_DGT:_Obtener_una_fila_por_id_de_referent')?['body/pfc_name']} - Evidència de la resposta",
                  "item/pfc_responsedatedgt": "@utcNow()",
                  "item/pfc_dgtidentificationcode": "@outputs('Consulta_DGT:_Obtener_una_fila_por_id_de_referent')?['body/pfc_dgtidentificationcode']",
                  "item/regardingobjectid_pfc_query_dgt_pfc_receivedresponse@odata.bind": "/pfc_query_dgts/@{outputs('Consulta_DGT:_Obtener_una_fila_por_id_de_referent')?['body/pfc_query_dgtid']}"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Consulta_DGT:_Obtener_una_fila_por_id_de_referent": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/statecode']",
              1
            ]
          },
          "metadata": {
            "operationMetadataId": "82d57aab-1211-4e84-b513-541280dac68f"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}