Solution/Unpacked/pfc_PFCDataModel/Workflows/WhenReceivedResponseIsClosedPopulateFieldsToQueryD-282F2860-2BCA-ED11-B596-000D3ADF727D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedcommondataserviceforapps_55452"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataservice_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedcommondataservice_214d2"
        },
        "api": {
          "name": "shared_commondataservice"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Cuando_se_modifica_una_fila": {
          "metadata": {
            "operationMetadataId": "f2a0e74b-3e65-41ee-a542-77a31a28573c"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataservice_1",
              "operationId": "SubscribeOnUpdatedItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
            },
            "parameters": {
              "dataset": "default.cds",
              "table": "pfc_receivedresponses",
              "scope": "Business unit",
              "subscriptionRequest/AttributeFilters": [
                "statuscode"
              ]
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condición": {
          "actions": {
            "Consulta_DGT:_Obtener_una_fila_por_id_de_referent": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9ed311d2-3f18-4bf3-afff-37fd5b0788be"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "pfc_query_dgts",
                  "recordId": "@triggerOutputs()?['body/_regardingobjectid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Consulta_DGT:_Actualizar_una_fila": {
              "runAfter": {
                "Consulta_DGT:_Obtener_una_fila_por_id_de_referent": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d03dc64b-011c-4942-94f1-8f013bc3ac16"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "pfc_query_dgts",
                  "recordId": "@outputs('Consulta_DGT:_Obtener_una_fila_por_id_de_referent')?['body/pfc_query_dgtid']",
                  "item/pfc_dgtidentificationcode": "@triggerOutputs()?['body/pfc_dgtidentificationcode']",
                  "item/pfc_responsedatedgt": "@triggerOutputs()?['body/pfc_responsedatedgt']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/statecode']",
              1
            ]
          },
          "metadata": {
            "operationMetadataId": "f94f695b-aae7-4751-ad82-8da7eaaacb3c"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}