Solution/Unpacked/pfc_PFCDataModel/Workflows/WhenResponseIsClosedChangeStatuscodeOfQueryDGT-D419D2DE-6EC9-ED11-B597-000D3ADF7052.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pfc_sharedcommondataserviceforapps_55452"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Cuando_se_agrega,_modifica_o_elimina_una_fila": {
          "metadata": {
            "operationMetadataId": "8ded3ff3-6be3-47f2-95ef-0e249146080b"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "pfc_receivedresponse",
              "subscriptionRequest/scope": 2,
              "subscriptionRequest/filteringattributes": "statuscode"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condición": {
          "actions": {
            "Consulta_DGT:_Obtener_una_fila_por_id_de_referent": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "72064cd3-9666-4c9e-a76b-ad9a6fc62797"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "pfc_query_dgts",
                  "recordId": "@triggerOutputs()?['body/_regardingobjectid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Consulta_DGT:_Actualizar_una_fila": {
              "runAfter": {
                "Consulta_DGT:_Obtener_una_fila_por_id_de_referent": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8585244c-59ca-4284-97fd-ebd672d24088"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "pfc_query_dgts",
                  "recordId": "@outputs('Consulta_DGT:_Obtener_una_fila_por_id_de_referent')?['body/pfc_query_dgtid']",
                  "item/statuscode": 470000007
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/statecode']",
              1
            ]
          },
          "metadata": {
            "operationMetadataId": "5b9a8419-e20f-4263-b3e5-af97698bdc5f"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}